<section class="news-section">
  <div class="container">
    <div
      class="d-flex gap-4 align-items-center justify-content-between flex-wrap mb-5"
    >
      <h1 class="h1 text-primary">Archiv článků</h1>
      <form
        method="get"
        action="/news/"
        class="d-flex align-items-center flex-wrap w-100 w-lg-auto form"
      >
        <label class="o-select select">
          <select name="kategorie" class="js-select">
            <option>Vyberte kategorii</option>
            <option value="aktualni-zpravy">Aktuální zprávy</option>
            <option value="rozhovory">Rozhovory</option>
            <option value="reportaze">Reportáže</option>
            <option value="mladez">Mládež</option>
            <option value="tiskove-zpravy">Tiskové zprávy</option>
            <option value="souteze-akce">Soutěže a akce pro fanoušky</option>
            <option value="preview-k-zaoasu">Preview k zápasu</option>
            <option value="ohlasy-po-utkani">Ohlasy po utkání</option>
            <option value="sledge-clanek">Sledge – článek</option>
            <option value="sledge-reportaz">Sledge – reportáž</option>
            <option value="historie">Historie</option>
            <option value="fan-club">Fan Club</option>
          </select>
        </label>
        <label class="o-select select">
          <select name="soutez" class="js-select">
            <option>Vyberte soutěž</option>
            <option value="aktualni-zpravy">Aktuální zprávy</option>
            <option value="rozhovory">Rozhovory</option>
            <option value="reportaze">Reportáže</option>
            <option value="mladez">Mládež</option>
            <option value="tiskove-zpravy">Tiskové zprávy</option>
            <option value="souteze-akce">Soutěže a akce pro fanoušky</option>
            <option value="preview-k-zaoasu">Preview k zápasu</option>
            <option value="ohlasy-po-utkani">Ohlasy po utkání</option>
            <option value="sledge-clanek">Sledge – článek</option>
            <option value="sledge-reportaz">Sledge – reportáž</option>
            <option value="historie">Historie</option>
            <option value="fan-club">Fan Club</option>
          </select>
        </label>
        <div
          class="d-flex gap-4 align-items-center flex-sm-row flex-column w-100 w-lg-auto"
        >
          <div class="form-input">
            <input
              name="search"
              type="text"
              placeholder="Zadejte hledaný výraz..."
            />
            <button type="submit" class="form-input__btn">
              {% include "@images/search.svg" %}
            </button>
          </div>
          <button class="btn btn-primary w-sm-auto w-100">Hledat</button>
        </div>
      </form>
    </div>
    <div class="row g-5">
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        {% include "@components/post/post.twig" %}
      </div>
    </div>

    <nav aria-label="Další stránky">
      <ul
        class="pagination d-flex flex-wrap pagination-flat pagination-success"
      >
        <li class="page-item active">
          <a class="page-link" href="#" data-abc="true">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" data-abc="true">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" data-abc="true">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" data-abc="true">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" data-abc="true">
            {% include "@images/arrow-right-primary.svg" %}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
