<div class="partnersSlider">
  <div class="container">
    <div
      class="d-flex gap-3 align-items-center justify-content-between flex-wrap mb-4"
    >
      <h6 class="h3 text-primary">Partneři</h6>
      <a href="#" class="btn btn-stroke"
        >Zobrazit všechny partnery {% include "@images/arrow-right.svg" %}</a
      >
    </div>
    <ul class="partnersSlider__inner">
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link" target="_blank">
          <img
            src="images/content/p-1.png"
            width="160"
            height="64"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link" target="_blank">
          <img
            src="images/content/partner-2.png"
            width="160"
            height="64"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link" target="_blank">
          <img
            src="images/content/partner-3.png"
            width="160"
            height="64"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link" target="_blank">
          <img
            src="images/content/partner-4.png"
            width="160"
            height="64"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link" target="_blank">
          <img
            src="images/content/partner-5.png"
            width="160"
            height="64"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link" target="_blank">
          <img
            src="images/content/partner-1.png"
            width="160"
            height="64"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link" target="_blank">
          <img
            src="images/content/p-1.png"
            width="160"
            height="64"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link" target="_blank">
          <img
            src="images/content/partner-3.png"
            width="160"
            height="64"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link" target="_blank">
          <img
            src="images/content/partner-4.png"
            width="160"
            height="64"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link" target="_blank">
          <img
            src="images/content/partner-5.png"
            width="160"
            height="64"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
    </ul>
  </div>
</div>
