<div class="menu">
  <ul class="nav nav-pills mb-3 menu-tab" id="submenu1-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="mainMenu-tab"
        data-bs-toggle="pill"
        data-bs-target="#mainMenu"
        type="button"
        role="tab"
      >
        Hlavní
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="subMenu-tab"
        data-bs-toggle="pill"
        data-bs-target="#subMenu"
        type="button"
        role="tab"
      >
        Ostatní
      </button>
    </li>
  </ul>

  <div class="tab-content" id="menu-tabContent">
    <div class="tab-content" id="submenu1-tabContent">
      <div class="tab-pane fade" id="subMenu" role="tabpanel">
        <div class="menu__wrapper">
          <div class="row g-5">
            <div class="col-xl-3 col-lg-6">
              <div class="accordion" id="">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading10">
                    Fanoušci
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse10"
                      aria-expanded="true"
                      aria-controls="collapse10"
                    ></button>
                  </h2>
                  <div
                    id="collapse10"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading10"
                  >
                    <ul class="menu__list">
                      <li>
                        <a href="https://fanshop.baseball.cz/" target="_blank"
                          >Fanshop</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://www.ticketportal.cz/event/45-Prazsky-baseballovy-tyden-2026"
                          target="_blank"
                          >Vstupenky na PBT</a
                        >
                      </li>
                      <li>
                        <a href="/fond-potrebnym">Fond Potřebným</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="accordion" id="">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading17">
                    Weby ČBA
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse17"
                      aria-expanded="true"
                      aria-controls="collapse17"
                    ></button>
                  </h2>
                  <div
                    id="collapse17"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading17"
                  >
                    <ul class="menu__list">
                      <li>
                        <a href="https://sinslavy.baseball.cz" target="_blank"
                          >Síň slávy</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://sinslavy.baseball.cz/#/homeruners-club"
                          target="_blank"
                          >Klub homerunářů</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://www.praguebaseballweek.eu/"
                          target="_blank"
                          >Pražský Baseballový Týden</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="accordion" id="">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading41">
                    Kontakty
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse41"
                      aria-expanded="true"
                      aria-controls="collapse41"
                    ></button>
                  </h2>
                  <div
                    id="collapse41"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading41"
                  >
                    <ul class="menu__list">
                      <li>
                        <a href="/contact/vv">Výkonný výbor</a>
                      </li>
                      <li>
                        <a href="/contact/commission">Komise</a>
                      </li>
                      <li>
                        <a href="/contact/secretariat">Sekretariát</a>
                      </li>
                      <li>
                        <a href="/contact/club">Kluby</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="accordion" id="">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading47">
                    Média
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse47"
                      aria-expanded="true"
                      aria-controls="collapse47"
                    ></button>
                  </h2>
                  <div
                    id="collapse47"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading47"
                  >
                    <ul class="menu__list">
                      <li>
                        <a href="https://fotobanka.baseball.cz" target="_blank"
                          >Fotobanka</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="accordion" id="">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading52">
                    Odkazy
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse52"
                      aria-expanded="true"
                      aria-controls="collapse52"
                    ></button>
                  </h2>
                  <div
                    id="collapse52"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading52"
                  >
                    <ul class="menu__list">
                      <li>
                        <a href="https://nsa.gov.cz/">NSA</a>
                      </li>
                      <li>
                        <a href="https://www.olympijskytym.cz/" target="_blank"
                          >ČOV</a
                        >
                      </li>
                      <li>
                        <a href="https://www.antidoping.cz/" target="_blank"
                          >Český Antidoping</a
                        >
                      </li>
                      <li>
                        <a href="https://www.wbsceurope.org/en" target="_blank"
                          >WBSC Europe</a
                        >
                      </li>
                      <li>
                        <a href="https://www.wbsc.org/en" target="_blank"
                          >WBSC</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="accordion" id="">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading46">
                    Dokumenty
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse46"
                      aria-expanded="true"
                      aria-controls="collapse46"
                    ></button>
                  </h2>
                  <div
                    id="collapse46"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading46"
                  >
                    <ul class="menu__list">
                      <li>
                        <a href="/document/">Všechny dokumenty</a>
                      </li>
                      <li>
                        <a href="/document/?category=6"
                          >Formuláře a směrnice ČBA</a
                        >
                      </li>
                      <li>
                        <a href="/document/?category=7"
                          >Zápisy z Výkonného výboru</a
                        >
                      </li>
                      <li>
                        <a href="/document/?category=11">Ročenky ČBA</a>
                      </li>
                      <li>
                        <a href="/document/?category=5">Legislativa ČBA</a>
                      </li>
                      <li>
                        <a href="/document/?category=19">Komise rozhodčích</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="accordion" id="">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading80">
                    Organizace ČBA
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse80"
                      aria-expanded="true"
                      aria-controls="collapse80"
                    ></button>
                  </h2>
                  <div
                    id="collapse80"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading80"
                  >
                    <ul class="menu__list">
                      <li>
                        <a href="/umpires">Rozhodčí</a>
                      </li>
                      <li>
                        <a href="/scorers">Zapisovatelé</a>
                      </li>
                      <li>
                        <a href="/nbp">Národní baseballový program</a>
                      </li>
                      <li>
                        <a
                          href="https://old.baseball.cz/user/is"
                          target="_blank"
                          >Starý IS</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://docs.google.com/spreadsheets/d/e/2PACX-1vS7Obgi1-d5YkMPelME4PdczJkoTxjGD5AVkgRTv_7fOIopb4rbZIzVqlavgZXz58TruATFmGgWQUdb/pubhtml"
                          target="_blank"
                          >Termínová listina</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show active" id="mainMenu" role="tabpanel">
        <div class="menu__wrapper">
          <div class="row g-5">
            <div class="col-12 col-lg-6 d-xl-none d-block">
              <div class="col-12 col-lg-6 d-xl-none d-block">
                <div class="accordion" id="">
                  <div class="accordion-item">
                    <a href="/competition/detail/1" class="accordion-header"
                      >Extraliga</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6 d-xl-none d-block">
              <div class="accordion" id="">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading2">
                    Reprezentace
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse2"
                      aria-expanded="true"
                      aria-controls="collapse2"
                    ></button>
                  </h2>
                  <div
                    id="collapse2"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading2"
                  >
                    <ul class="menu__list">
                      <li>
                        <a href="/representation">Přehled</a>
                      </li>
                    </ul>
                    <ul class="menu__list">
                      <li>
                        <a href="/representation/calendar">Kalendář</a>
                      </li>
                    </ul>
                    <ul class="menu__list">
                      <li>
                        <a href="/representation/detail/1">Muži</a>
                      </li>
                    </ul>
                    <ul class="menu__list">
                      <li>
                        <a href="/representation/detail/8">Ženy</a>
                      </li>
                    </ul>
                    <ul class="menu__list">
                      <li>
                        <a href="/representation/detail/2">U23</a>
                      </li>
                    </ul>
                    <ul class="menu__list">
                      <li>
                        <a href="/representation/detail/4">U18</a>
                      </li>
                    </ul>
                    <ul class="menu__list">
                      <li>
                        <a href="/representation/detail/5">U15</a>
                      </li>
                    </ul>
                    <ul class="menu__list">
                      <li>
                        <a href="/representation/detail/6">U12</a>
                      </li>
                    </ul>
                    <ul class="menu__list">
                      <li>
                        <a href="/representation/detail/10">Blind Baseball</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6 d-xl-none d-block">
              <div class="col-12 col-lg-6 d-xl-none d-block">
                <div class="accordion" id="">
                  <div class="accordion-item">
                    <a href="/competition" class="accordion-header">Soutěže</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6 d-xl-none d-block">
              <div class="col-12 col-lg-6 d-xl-none d-block">
                <div class="accordion" id="">
                  <div class="accordion-item">
                    <a href="/tournament" class="accordion-header">Turnaje</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6 d-xl-none d-block">
              <div class="col-12 col-lg-6 d-xl-none d-block">
                <div class="accordion" id="">
                  <div class="accordion-item">
                    <a
                      href="https://www.baseballczech.tv/cze"
                      class="accordion-header"
                      target="_blank"
                      >Baseball Czech TV</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
