<section class="article-section">
  <div class="container">
    <div class="row g-5">
      <div class="col-xl-9">
        <article class="article-section__inner">
          <div class="article-section__item">
            <img
              class="object-fit-cover w-100 h-100"
              srcset="
                https://picsum.photos/2144/1420 2144w,
                https://picsum.photos/1072/710  1072w
              "
              sizes="
             (min-width: 1072px) 1072w
           "
              width="1072"
              height="710"
              alt=""
            />
            <div class="article-section__item-content">
              <h1 class="h1 text-light mb-3">
                Baseball se vrátil mezi prioritní sporty. Klíčové, raduje se
                předseda Ditrich
              </h1>
              <ul class="tags text-light">
                <li>
                  <div class="tag">Aktuality</div>
                </li>
                <li>
                  <div class="text-lg">24. 1. 2024</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="subPage__wrapper">
            <div class="o-content">
              <p>
                <strong>
                  Baseball se nečekaně vrátil mezi třicítku prioritních sportů
                  Národní sportovní agentury pro roky 2025 a 2026. Vrcholný
                  sportovní orgán v České republice přehodnotil dřívější
                  rozhodnutí, v němž došlo k administrativní chybě.
                </strong>
              </p>
              <p>
                Pro český baseball to je podle předsedy České baseballové
                asociace Petra Ditricha naprosto zásadní zpráva, která pozitivně
                ovlivní přípravu na vrcholné sportovní akce. Z prioritní skupiny
                nakonec vypadlo taekwondo.
              </p>
              <p>
                „Velmi si vážíme nového rozhodnutí Národní sportovní agentury,
                která nás nakonec přeci jen zařadila mezi třicet
                prioritizovaných sportovních svazů. Je to pro nás klíčová
                zpráva, za kterou jsme nesmírně vděční. Tento krok nám umožní
                stabilní financování baseballu v České republice na následující
                dva roky a zajistí potřebné prostředky pro přípravu na významné
                mezinárodní akce,“ nechal se slyšet Ditrich.
              </p>
              <p>
                V roce 2026 se český tým zúčastní světového turnaje World
                Baseball Classic, po kterém by měla následovat kvalifikace na
                turnaj Premier 12 pro nejlepších dvanáct týmů světa. „Oba tyto
                turnaje jsou nesmírně důležité pro rozvoj našeho sportu na
                nejvyšší mezinárodní úrovni. Zároveň se připravujeme i na
                kvalifikaci na olympijské hry v Los Angeles 2028, které jsou
                naším dlouhodobým cílem. Díky vylepšenému financování budeme
                moci pokračovat v propagaci dobrého jména České republiky ve
                světě, stejně jako se nám to dařilo v minulých letech,“ uvedl
                Ditrich.
              </p>
              <table>
                <thead>
                  <tr>
                    <th>Sloupec č. 1</th>
                    <th>sloupec č. 2</th>
                    <th>sloupec č. 3</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Klasický řádek textu</td>
                    <td>Text ve sloupci č. 2</td>
                    <td>Delší textace tohoto sloupce, tedy s větší šířkou</td>
                  </tr>
                  <tr>
                    <td>Klasický řádek textu</td>
                    <td>Text ve sloupci č. 2</td>
                    <td>Delší textace tohoto sloupce, tedy s větší šířkou</td>
                  </tr>
                  <tr>
                    <td>Klasický řádek textu</td>
                    <td>Text ve sloupci č. 2</td>
                    <td>Delší textace tohoto sloupce, tedy s větší šířkou</td>
                  </tr>
                  <tr>
                    <td>Klasický řádek textu</td>
                    <td>Text ve sloupci č. 2</td>
                    <td>Delší textace tohoto sloupce, tedy s větší šířkou</td>
                  </tr>
                  <tr>
                    <td>Klasický řádek textu</td>
                    <td>Text ve sloupci č. 2</td>
                    <td>Delší textace tohoto sloupce, tedy s větší šířkou</td>
                  </tr>
                  <tr>
                    <td>Klasický řádek textu</td>
                    <td>Text ve sloupci č. 2</td>
                    <td>Delší textace tohoto sloupce, tedy s větší šířkou</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="px-6 py-5 border-1 mb-5">
              <div class="row g-3">
                <div class="col-md-6">
                  <div class="d-flex gap-4 align-items-center">
                    <a href="documents/download.pdf" download>
                      <img
                        class="object-fit-contain"
                        src="images/ico/pdf.svg"
                        width="40"
                        height="40"
                        alt="file"
                      />
                    </a>

                    <div class="">
                      <a
                        href="documents/download.pdf"
                        download
                        class="text-lg text-primary fw-bold linkDecoration"
                      >
                        Pravidla baseballu k 1. 1. 2025
                      </a>
                      <div class="text-sm text-tertiary">
                        18. 2. 2025 | 263 kB
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex gap-4 align-items-center">
                    <a href="documents/download.pdf" download>
                      <img
                        class="object-fit-contain"
                        src="images/ico/xls.svg"
                        width="40"
                        height="40"
                        alt="file"
                      />
                    </a>
                    <div class="">
                      <a
                        href="documents/download.pdf"
                        download
                        class="text-lg text-primary fw-bold linkDecoration"
                      >
                        Pravidla baseballu k 1. 1. 2025
                      </a>
                      <div class="text-sm text-tertiary">
                        18. 2. 2025 | 263 kB
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex gap-4 align-items-center">
                    <a href="documents/download.pdf" download>
                      <img
                        class="object-fit-contain"
                        src="images/ico/xlsx.svg"
                        width="40"
                        height="40"
                        alt="file"
                      />
                    </a>
                    <div class="">
                      <a
                        href="documents/download.pdf"
                        download
                        class="text-lg text-primary fw-bold linkDecoration"
                      >
                        Pravidla baseballu k 1. 1. 2025
                      </a>
                      <div class="text-sm text-tertiary">
                        18. 2. 2025 | 263 kB
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex gap-4 align-items-center">
                    <a href="documents/download.pdf" download>
                      <img
                        class="object-fit-contain"
                        src="images/ico/doc.svg"
                        width="40"
                        height="40"
                        alt="file"
                    /></a>
                    <div class="">
                      <a
                        href="documents/download.pdf"
                        download
                        class="text-lg text-primary fw-bold linkDecoration"
                      >
                        Pravidla baseballu k 1. 1. 2025
                      </a>
                      <div class="text-sm text-tertiary">
                        18. 2. 2025 | 263 kB
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="galleryBox">
              <div
                class="mb-3 text-primary d-flex align-items-center gap-2 justify-content-between flex-wrap"
              >
                <h2 class="h2">Fotogalerie</h2>
                <div class="text-md fw-bold">Počet fotografií: 24</div>
              </div>
              <div class="row g-3">
                <div class="col-lg-3 col-6">
                  <a
                    class="galleryBox__item"
                    href="#"
                    data-source="/baseball.cz/build/ajax-gallery.json"
                    data-gallery-id="1"
                  >
                    <img
                      loading="lazy"
                      srcset="
                        https://picsum.photos/432/290 432w,
                        https://picsum.photos/216/145 216w
                      "
                      sizes="
                   (min-width: 216px) 216px,
                   calc(100vw - 2rem)
                 "
                      width="216"
                      height="145"
                      class="object-fit-cover"
                      alt=""
                    />
                  </a>
                </div>
                <div class="col-lg-3 col-6">
                  <a
                    class="galleryBox__item"
                    href="#"
                    data-source="/baseball.cz/build/ajax-gallery.json"
                    data-gallery-id="1"
                  >
                    <img
                      loading="lazy"
                      srcset="
                        https://picsum.photos/432/290 432w,
                        https://picsum.photos/216/145 216w
                      "
                      sizes="
                   (min-width: 216px) 216px,
                   calc(100vw - 2rem)
                 "
                      width="216"
                      height="145"
                      class="object-fit-cover"
                      alt=""
                    />
                  </a>
                </div>
                <div class="col-lg-3 col-6">
                  <a
                    class="galleryBox__item"
                    href="#"
                    data-source="/baseball.cz/build/ajax-gallery.json"
                    data-gallery-id="1"
                  >
                    <img
                      loading="lazy"
                      srcset="
                        https://picsum.photos/432/290 432w,
                        https://picsum.photos/216/145 216w
                      "
                      sizes="
                   (min-width: 216px) 216px,
                   calc(100vw - 2rem)
                 "
                      width="216"
                      height="145"
                      class="object-fit-cover"
                      alt=""
                    />
                  </a>
                </div>
                <div class="col-lg-3 col-6">
                  <a
                    class="galleryBox__item"
                    href="#"
                    data-source="/baseball.cz/build/ajax-gallery.json"
                    data-gallery-id="1"
                  >
                    <img
                      loading="lazy"
                      srcset="
                        https://picsum.photos/432/290 432w,
                        https://picsum.photos/216/145 216w
                      "
                      sizes="
                   (min-width: 216px) 216px,
                   calc(100vw - 2rem)
                 "
                      width="216"
                      height="145"
                      class="object-fit-cover"
                      alt=""
                    />
                    <div class="galleryBox__link">
                      <span
                        >Prohlédnout galerii
                        <img src="images/ico/arrow-right.svg" alt="arrow"
                      /></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-xl-3">
        {% include "@components/aside/aside-posts.twig" %}
      </div>
    </div>
  </div>
</section>
