<div class="contactItem boxShadow">
  <div class="contactItem__img">
    <img
      loading="lazy"
      srcset="images/content/player.png 119w"
      sizes="
     (min-width: 119px) 119px
     
   "
      width="119"
      height="159"
      alt="ava"
    />
  </div>
  <div class="d-flex flex-column gap-12">
    <div class="fw-bold">
      <div class="h4 text-primary">Petr Baroch</div>
      <div class="text-md text-tertiary">hlavní trenér</div>
    </div>
    <div class="text-tertiary text-md">
      <a
        href="mailto:petr.baroch@baseball.cz"
        class="d-flex align-items-center gap-2"
      >
        <img
          loading="lazy"
          src="images/ico/mail.svg"
          width="16"
          height="16"
          alt="mail"
        />
        petr.baroch@baseball.cz
      </a>
      <a href="tel:+420736682453" class="d-flex align-items-center gap-2">
        <img
          loading="lazy"
          src="images/ico/phone.svg"
          width="16"
          height="16"
          alt="tel"
        />
        736 682 453
      </a>
    </div>
  </div>
</div>
