<div class="statistics-section">
  <table>
    <thead>
      <tr>
        <th class="">Hráč</th>
        <th class="text-center">Tým</th>
        <th class="text-center">A</th>
        <th class="text-center">B</th>
        <th class="text-center">R</th>
        <th class="text-center bg-line">2B</th>
        <th class="text-center">3B</th>
        <th class="text-center">HR</th>
        <th class="text-center">RBI</th>
        <th class="text-center">TB</th>
        <th class="text-center">AVG</th>
        <th class="text-center">SLG</th>
        <th class="text-center">OBP</th>
        <th class="text-center">OPS</th>
        <th class="text-center">BB</th>
        <th class="text-center">HBP</th>
        <th class="text-center">SO</th>
        <th class="text-center">GDP</th>
        <th class="text-center">SF</th>
        <th class="text-center">SH</th>
        <th class="text-center">SB</th>
        <th class="text-center">CS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>

      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>

      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>
          <a href="#" class="text-primary fw-bold linkDecoration"
            >Rabinowitz Jake</a
          >
        </td>
        <td class="text-center">
          <img
            src="images/content/club-4.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle me-2"
            alt=""
          />
          EAG
        </td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center bg-line">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">.215</td>
        <td class="text-center">.387</td>
        <td class="text-center">.284</td>
        <td class="text-center">.671</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
        <td class="text-center">10</td>
      </tr>
    </tbody>
  </table>
</div>
