.statistics-section .table-responsive {
  margin: 0;
  table {
    @include media-breakpoint-down(md) {
      min-width: max-content !important;
    }
  }
  th {
    background-color: var(--color-light);
    border-bottom: 2px solid var(--color-line);
    color: var(--color-primary);
    text-transform: capitalize;
  }
  th,
  td {
    white-space: nowrap;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    padding: 16px 12px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    @include media-breakpoint-down(md) {
      min-width: fit-content;
    }
    img {
      vertical-align: middle;
    }
  }
}
