<aside class="aside">
  <a href="#" target="_blank" class="d-block">
    <img
      loading="lazy"
      srcset="
        https://picsum.photos/672/672 672w,
        https://picsum.photos/336/336 336w
      "
      sizes="
        (min-width: 336px) 336px,
        calc(100vw - 2rem)
      "
      width="336"
      height="336"
      class="object-fit-cover"
      alt=""
    />
  </a>
  {% include "@components/post/post.twig" %} {% include
  "@components/post/post.twig" %}
</aside>
