<aside class="aside">
  <a href="#" target="_blank" class="d-block w-100">
    <img
      loading="lazy"
      srcset="
        https://placehold.co/672x672?text=336x336 672w,
        https://placehold.co/336x336?text=336x336 336w
      "
      sizes="
        (min-width: 336px) 336px,
        calc(100vw - 2rem)
      "
      width="336"
      height="336"
      class="object-fit-cover w-100 h-auto"
      alt=""
    />
  </a>
  {% include "@components/post/post.twig" %} {% include
  "@components/post/post.twig" %}
</aside>
