<section class="shop-section">
  <div class="container">
    <div class="contentBox">
      <div class="row g-5">
        <div class="col-xl-3 col-md-6">
          <div class="shopItem">
            <a href="#" class="shopItem__img">
              <img src="images/content/product-2.png" alt="product" />
            </a>
            <div class="shopItem__content">
              <a
                href="#"
                class="h4 text-primary fw-bold mb-3 d-block linkDecoration"
              >
                Replika dresu baseballového národního týmu ČR – modré
              </a>
              <div
                class="d-flex align-items-center gap-40 justify-content-center"
              >
                <div class="h4 text-tertiary fw-bold">od 849 Kč</div>
                <a href="#" class="shopItem__link"> Koupit</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="shopItem">
            <a href="#" class="shopItem__img">
              <img src="images/content/product-1.png" alt="product" />
            </a>
            <div class="shopItem__content">
              <a
                href="#"
                class="h4 text-primary fw-bold mb-3 d-block linkDecoration"
              >
                Replika dresu baseballového národního týmu ČR – modré
              </a>
              <div
                class="d-flex align-items-center gap-40 justify-content-center"
              >
                <div class="h4 text-tertiary fw-bold">od 849 Kč</div>
                <a href="#" class="shopItem__link"> Koupit</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="shopItem">
            <a href="#" class="shopItem__img">
              <img src="images/content/product-2.png" alt="product" />
            </a>
            <div class="shopItem__content">
              <a
                href="#"
                class="h4 text-primary fw-bold mb-3 d-block linkDecoration"
              >
                Replika dresu baseballového národního týmu ČR – modré
              </a>
              <div
                class="d-flex align-items-center gap-40 justify-content-center"
              >
                <div class="h4 text-tertiary fw-bold">od 849 Kč</div>
                <a href="#" class="shopItem__link"> Koupit</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="shopItem">
            <a href="#" class="shopItem__img">
              <img src="images/content/product-2.png" alt="product" />
            </a>
            <div class="shopItem__content">
              <a
                href="#"
                class="h4 text-primary fw-bold mb-3 d-block linkDecoration"
              >
                Replika dresu
              </a>
              <div
                class="d-flex align-items-center gap-40 justify-content-center"
              >
                <div class="h4 text-tertiary fw-bold">od 849 Kč</div>
                <a href="#" class="shopItem__link"> Koupit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-stroke d-flex mt-5 ms-auto">
      Přejít do e-shopu {% include "@images/arrow-right.svg" %}
    </a>
  </div>
</section>
