.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  border-radius: 6px;
  transition: color 0.3s, background-color 0.3s;
  width: fit-content;
  @include media-breakpoint-down(lg) {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
.btn-stroke {
  background-color: var(--color-light);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
    svg path {
      stroke: var(--color-light);
    }
  }
  svg path {
    stroke: var(--color-primary);
    transition: all 0.3s;
  }
}

.btn-primary {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-light);
  &:hover {
    background-color: var(--color-light);
    color: var(--color-primary);
  }
}
