.headerSection {
  margin-bottom: 32px;
  box-shadow: var(--shadow-4xl);
  padding: 24px 0;
  border-bottom: 2px solid var(--color-line);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
  }
  .h1 {
    font-size: 2em;
    @include media-breakpoint-down(lg) {
      font-size: 28px;
      line-height: normal;
    }
  }
  &__menu-link {
    border-radius: 6px;
    border: 2px solid var(--color-line);
    display: block;
    width: fit-content;
    padding: 13px 20px 11px;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration-color: transparent;
    @include media-breakpoint-down(lg) {
      font-size: 0.75rem;
      line-height: 1.5;
      padding: 9px 12px 8px;
    }
    &:hover {
      text-decoration-color: inherit;
    }
    &.active {
      border-color: var(--color-primary);
      color: var(--color-light);
      background-color: var(--color-primary);
    }
  }

  &__social {
    display: flex;
    gap: 8px;
    align-items: center;
    a {
      display: block;
      width: 32px;
      height: 32px;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.05);
      }

      img,
      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
