<section class="partners-section">
  <div class="container">
    <h1 class="h1 mb-5 text-primary">Partneři</h1>
    <h2 class="h4 text-primary mb-3">Generální partner</h2>
    <div class="mb-4">
      <div class="row">
        <div class="col-12">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-2.png"
              height="80"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
    <h2 class="h4 text-primary mb-3">Hlavní partneři</h2>
    <div class="mb-4">
      <div class="row g-5">
        <div class="col-lg-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-3.png"
              height="80"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-1.png"
              height="80"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
    <h2 class="h4 text-primary mb-3">Partneři</h2>
    <div class="mb-4">
      <div class="row gx-5 gy-3">
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-1.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-1.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-2.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-3.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-4.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-5.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-6.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-2.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-3.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-1.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-1.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-2.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-3.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-4.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-5.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-6.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
    <h2 class="h4 text-primary mb-3">Mediální partneři</h2>
    <div class="mb-4">
      <div class="row gx-5 gy-3">
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-1.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-1.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-2.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-3.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-4.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-5.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-6.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-2.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-3.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
    <h2 class="h4 text-primary mb-3">Za podpory</h2>
    <div class="mb-4">
      <div class="row gx-5 gy-3">
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-1.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-1.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-2.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-3.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-4.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-5.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-6.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-2.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/p-3.png"
              height="64"
              class="object-fit-contain w-100"
              alt="partner"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
