.partners-section {
  &__item {
    display: flex;
    width: 100%;
    padding: 20px 24px;
    height: 100%;
    border: 1px solid var(--color-line);
    justify-content: center;
    align-items: center;
    height: auto;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814;
    }
  }
}

.hp-partners-section {
  margin-bottom: 48px;
  padding-top: 48px;
  border-top: 1px solid var(--color-line);
  @include media-breakpoint-down(lg) {
    padding-top: 32px;
    margin-bottom: 32px;
  }
}
