<div class="table-section">
  <table>
    <thead>
      <tr>
        <th class="text-start">#</th>
        <th class="text-start">Tým</th>
        <th class="text-center">Z</th>
        <th class="text-center">W</th>
        <th class="text-center">L</th>
        <th class="text-center">Skóre</th>
        <th class="text-center">%</th>
        <th class="text-center">-</th>
        <th class="text-center">Posledních 5 zápasů</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
          <a href="#" class="linkDecoration d-block">
            <img
              src="images/content/club-4.png"
              width="56"
              height="56"
              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
              alt=""
            />Eagles Praha
          </a>
        </td>
        <td class="text-center">35</td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">222:102</td>
        <td class="text-center">0.714</td>
        <td class="text-center">-</td>
        <td>
          <ul class="d-flex gap-12 justify-content-center">
            <li class="win"></li>
            <li class="draw"></li>
            <li class="lose"></li>
            <li class="win"></li>
            <li class="lose"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>2.</td>
        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
          <a href="#" class="linkDecoration d-block">
            <img
              src="images/content/club-4.png"
              width="56"
              height="56"
              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
              alt=""
            />Eagles Praha
          </a>
        </td>
        <td class="text-center">35</td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">222:102</td>
        <td class="text-center">0.714</td>
        <td class="text-center">-</td>
        <td>
          <ul class="d-flex gap-12 justify-content-center">
            <li class="win"></li>
            <li class="win"></li>
            <li class="lose"></li>
            <li class="win"></li>
            <li class="lose"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>3.</td>
        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
          <a href="#" class="linkDecoration d-block">
            <img
              src="images/content/club-4.png"
              width="56"
              height="56"
              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
              alt=""
            />Eagles Praha
          </a>
        </td>
        <td class="text-center">35</td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">222:102</td>
        <td class="text-center">0.714</td>
        <td class="text-center">-</td>
        <td>
          <ul class="d-flex gap-12 justify-content-center">
            <li class="win"></li>
            <li class="win"></li>
            <li class="lose"></li>
            <li class="win"></li>
            <li class="lose"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>4.</td>
        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
          <a href="#" class="linkDecoration d-block">
            <img
              src="images/content/club-4.png"
              width="56"
              height="56"
              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
              alt=""
            />Eagles Praha
          </a>
        </td>
        <td class="text-center">35</td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">222:102</td>
        <td class="text-center">0.714</td>
        <td class="text-center">-</td>
        <td>
          <ul class="d-flex gap-12 justify-content-center">
            <li class="win"></li>
            <li class="draw"></li>
            <li class="lose"></li>
            <li class="draw"></li>
            <li class="lose"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>5.</td>
        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
          <a href="#" class="linkDecoration d-block">
            <img
              src="images/content/club-4.png"
              width="56"
              height="56"
              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
              alt=""
            />Eagles Praha
          </a>
        </td>
        <td class="text-center">35</td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">222:102</td>
        <td class="text-center">0.714</td>
        <td class="text-center">-</td>
        <td>
          <ul class="d-flex gap-12 justify-content-center">
            <li class="win"></li>
            <li class="win"></li>
            <li class="draw"></li>
            <li class="draw"></li>
            <li class="lose"></li>
          </ul>
        </td>
      </tr>
      <tr class="active">
        <td>6.</td>
        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
          <a href="#" class="linkDecoration d-block">
            <img
              src="images/content/club-4.png"
              width="56"
              height="56"
              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
              alt=""
            />Eagles Praha
          </a>
        </td>
        <td class="text-center">35</td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">222:102</td>
        <td class="text-center">0.714</td>
        <td class="text-center">-</td>
        <td>
          <ul class="d-flex gap-12 justify-content-center">
            <li class="win"></li>
            <li class="win"></li>
            <li class="lose"></li>
            <li class="win"></li>
            <li class="lose"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>7.</td>
        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
          <a href="#" class="linkDecoration d-block">
            <img
              src="images/content/club-4.png"
              width="56"
              height="56"
              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
              alt=""
            />Eagles Praha
          </a>
        </td>
        <td class="text-center">35</td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">222:102</td>
        <td class="text-center">0.714</td>
        <td class="text-center">-</td>
        <td>
          <ul class="d-flex gap-12 justify-content-center">
            <li class="win"></li>
            <li class="win"></li>
            <li class="lose"></li>
            <li class="win"></li>
            <li class="lose"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>8.</td>
        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
          <a href="#" class="linkDecoration d-block">
            <img
              src="images/content/club-4.png"
              width="56"
              height="56"
              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
              alt=""
            />Eagles Praha
          </a>
        </td>
        <td class="text-center">35</td>
        <td class="text-center">25</td>
        <td class="text-center">10</td>
        <td class="text-center">222:102</td>
        <td class="text-center">0.714</td>
        <td class="text-center">-</td>
        <td>
          <ul class="d-flex gap-12 justify-content-center">
            <li class="win"></li>
            <li class="win"></li>
            <li class="lose"></li>
            <li class="win"></li>
            <li class="lose"></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
