<header class="header">
  <a href="#" class="header__logo">
    <img src="images/ico/logo.svg" width="182" height="51" alt="logo" />
  </a>
  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__menu-list">
        <div class="navbar__menu-item">Reprezentace</div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu__list">
            <a href="#">Muži</a>
          </li>
          <li class="dropdown-menu__list">
            <a href="#">Ženy</a>
          </li>
          <li class="dropdown-menu__list">
            <a href="#">Univerziáda</a>
          </li>
        </ul>
      </li>
      <li class="navbar__menu-list">
        <a href="#" class="navbar__menu-item"> Turnaje </a>
      </li>
      <li class="navbar__menu-list">
        <div class="navbar__menu-item">Extraliga</div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu__list">
            <a href="#">Články</a>
          </li>
          <li class="dropdown-menu__list">
            <a href="#">Zápasy & výsledky </a>
          </li>
          <li class="dropdown-menu__list">
            <a href="#">Statistiky </a>
          </li>
          <li class="dropdown-menu__list">
            <a href="#">Dokumenty </a>
          </li>
        </ul>
      </li>
      <li class="navbar__menu-list">
        <a href="#" class="navbar__menu-item"> Soutěže </a>
      </li>

      <li class="navbar__menu-list">
        <a href="#" class="navbar__menu-item"> Kalendář </a>
      </li>
      <li class="navbar__menu-list">
        <a href="#" class="navbar__menu-item"> Televize </a>
      </li>
    </ul>
  </nav>
  <div class="header__menu">
    <a href="#" class="header__menu-link">
      <img src="images/ico/login.svg" width="40" height="40" alt="login" />
    </a>
    <button class="header__menu-link header__search">
      <img src="images/ico/search.svg" width="24" height="24" alt="login" />
    </button>
    <button class="c-header__opener js-header__opener" type="button">
      <span></span>
    </button>
    <div id="mobile-search" class="searchBox">
      <form>
        <img
          class="searchBox__icon"
          src="images/ico/search.svg"
          width="40"
          height="40"
          alt="login"
        />
        <input type="text" placeholder="Zadejte hledaný výraz..." required />
        <button type="submit" class="btn">Hledat</button>
      </form>
      <div class="searchBox__close">
        <img
          class="searchBox__icon"
          src="images/ico/close.svg"
          width="40"
          height="40"
          alt="close"
        />
      </div>
    </div>
  </div>
  {% include "@components/menu/menu.twig" %}
</header>

