<div class="tableHistory">
  <table>
    <thead>
      <tr>
        <th class="w-100">Země</th>
        <th>Zápasy</th>
        <th>Výhry</th>
        <th>Prohry</th>
        <th>První zápas</th>
        <th>Poslední zápas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="w-100 fw-bold text-primary">
          <img
            src="images/content/flag.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle mr-12"
            alt=""
          />Slovensko
        </td>
        <td>24</td>
        <td>19</td>
        <td>5</td>
        <td>12. 6. 1989</td>
        <td>24. 8. 2024</td>
      </tr>
      <tr>
        <td class="w-100 fw-bold text-primary">
          <img
            src="images/content/flag.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle mr-12"
            alt=""
          />Slovensko
        </td>
        <td>24</td>
        <td>19</td>
        <td>5</td>
        <td>12. 6. 1989</td>
        <td>24. 8. 2024</td>
      </tr>
      <tr>
        <td class="w-100 fw-bold text-primary">
          <img
            src="images/content/flag.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle mr-12"
            alt=""
          />Slovensko
        </td>
        <td>24</td>
        <td>19</td>
        <td>5</td>
        <td>12. 6. 1989</td>
        <td>24. 8. 2024</td>
      </tr>
      <tr>
        <td class="w-100 fw-bold text-primary">
          <img
            src="images/content/flag.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle mr-12"
            alt=""
          />Slovensko
        </td>
        <td>24</td>
        <td>19</td>
        <td>5</td>
        <td>12. 6. 1989</td>
        <td>24. 8. 2024</td>
      </tr>
      <tr>
        <td class="w-100 fw-bold text-primary">
          <img
            src="images/content/flag.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle mr-12"
            alt=""
          />Slovensko Slovensko
        </td>
        <td>24</td>
        <td>19</td>
        <td>5</td>
        <td>12. 6. 1989</td>
        <td>24. 8. 2024</td>
      </tr>
      <tr>
        <td class="w-100 fw-bold text-primary">
          <img
            src="images/content/flag.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle mr-12"
            alt=""
          />Slovensko
        </td>
        <td>24</td>
        <td>19</td>
        <td>5</td>
        <td>12. 6. 1989</td>
        <td>24. 8. 2024</td>
      </tr>
      <tr>
        <td class="w-100 fw-bold text-primary">
          <img
            src="images/content/flag.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle mr-12"
            alt=""
          />Slovensko
        </td>
        <td>24</td>
        <td>19</td>
        <td>5</td>
        <td>12. 6. 1989</td>
        <td>24. 8. 2024</td>
      </tr>
      <tr>
        <td class="w-100 fw-bold text-primary">
          <img
            src="images/content/flag.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle mr-12"
            alt=""
          />Slovensko
        </td>
        <td>24</td>
        <td>19</td>
        <td>5</td>
        <td>12. 6. 1989</td>
        <td>24. 8. 2024</td>
      </tr>
      <tr>
        <td class="w-100 fw-bold text-primary">
          <img
            src="images/content/flag.png"
            width="24"
            height="24"
            class="object-fit-contain d-inline vertical-middle mr-12"
            alt=""
          />Slovensko
        </td>
        <td>24</td>
        <td>19</td>
        <td>5</td>
        <td>12. 6. 1989</td>
        <td>24. 8. 2024</td>
      </tr>
    </tbody>
  </table>
</div>
