<div class="scoreboard">
  <div class="scoreboard__inner">
    <a href="#" class="scoreboardItem">
      <div class="scoreboardItem__row">
        <div class="scoreboardItem__teams">
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-1.png"
              width="24"
              height="24"
              alt=""
            />
            Eagles
          </div>
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-2.png"
              width="24"
              height="24"
              alt=""
            />
            Kotlářka
          </div>
        </div>
        <div class="d-flex gap-20 align-items-center">
          <div class="d-flex flex-column">
            <span>5</span>
            <span>2</span>
          </div>
          <div class="text-end">F/11</div>
        </div>
      </div>
      <div class="text-xs">W:Ercoli L: Duffek S: Křeček</div>
    </a>
    <a href="#" class="scoreboardItem">
      <div class="scoreboardItem__row">
        <div class="scoreboardItem__teams">
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-2.png"
              width="24"
              height="24"
              alt=""
            />
            Kotlářka
          </div>
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-1.png"
              width="24"
              height="24"
              alt=""
            />
            Eagles
          </div>
        </div>
        <div class="d-flex gap-20 align-items-center">
          <img
            src="images/ico/live.svg"
            width="18"
            height="18"
            class="object-fit-cover"
            alt=""
          />
          <div class="d-flex flex-column text-secondary">
            <span>1</span>
            <span>3</span>
          </div>
          <div class="scoreboardItem__game">
            <div class="d-flex gap-1 align-items-center">
              2
              <img
                src="images/ico/triangle.svg"
                width="8"
                height="8"
                class="object-fit-cover"
                alt=""
              />
            </div>
            <img
              src="images/ico/game-icon.svg"
              width="20"
              height="9"
              class="object-fit-cover"
              alt=""
            />
          </div>
          <div class="scoreboardItem__game">
            <img
              src="images/ico/game-icon-2.svg"
              width="24"
              height="18"
              class="object-fit-cover"
              alt=""
            />
            <div class="">0–2</div>
          </div>
        </div>
      </div>
      <div class="text-xs">W:Ercoli L: Duffek S: Křeček</div>
    </a>
    <a href="#" class="scoreboardItem">
      <div class="scoreboardItem__row">
        <div class="scoreboardItem__teams">
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-2.png"
              width="24"
              height="24"
              alt=""
            />
            Kotlářka
          </div>
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-1.png"
              width="24"
              height="24"
              alt=""
            />
            Eagles
          </div>
        </div>
        <div class="d-flex gap-20 align-items-center">
          <img
            src="images/ico/live.svg"
            width="18"
            height="18"
            class="object-fit-cover"
            alt=""
          />
          <div class="d-flex flex-column text-secondary">
            <span>1</span>
            <span>3</span>
          </div>
          <div class="scoreboardItem__game">
            <div class="d-flex gap-1 align-items-center">
              2
              <img
                src="images/ico/triangle.svg"
                width="8"
                height="8"
                class="object-fit-cover"
                alt=""
              />
            </div>
            <img
              src="images/ico/game-icon.svg"
              width="20"
              height="9"
              class="object-fit-cover"
              alt=""
            />
          </div>
          <div class="scoreboardItem__game">
            <img
              src="images/ico/game-icon-2.svg"
              width="24"
              height="18"
              class="object-fit-cover"
              alt=""
            />
            <div class="">0–2</div>
          </div>
        </div>
      </div>
      <div class="text-xs">W:Ercoli L: Duffek S: Křeček</div>
    </a>
    <div class="scoreboardItem">
      <div class="scoreboardItem__row">
        <div class="scoreboardItem__teams">
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-1.png"
              width="24"
              height="24"
              alt=""
            />
            Eagles
          </div>
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-2.png"
              width="24"
              height="24"
              alt=""
            />
            Kotlářka
          </div>
        </div>
        <div class="d-flex gap-20 align-items-center">
          <div class="text-end">
            <div>ne 26. 1.</div>
            <div>18:00</div>
          </div>
        </div>
      </div>
      <div class="text-xs">W:Ercoli L: Duffek S: Křeček</div>
    </div>
    <a href="#" class="scoreboardItem">
      <div class="scoreboardItem__row">
        <div class="scoreboardItem__teams">
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-1.png"
              width="24"
              height="24"
              alt=""
            />
            Eagles
          </div>
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-2.png"
              width="24"
              height="24"
              alt=""
            />
            Kotlářka
          </div>
        </div>
        <div class="d-flex gap-20 align-items-center">
          <div class="d-flex flex-column">
            <span>5</span>
            <span>2</span>
          </div>
          <div class="text-end">F/11</div>
        </div>
      </div>
      <div class="text-xs">W:Ercoli L: Duffek S: Křeček</div>
    </a>
    <a href="#" class="scoreboardItem">
      <div class="scoreboardItem__row">
        <div class="scoreboardItem__teams">
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-2.png"
              width="24"
              height="24"
              alt=""
            />
            Kotlářka
          </div>
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-1.png"
              width="24"
              height="24"
              alt=""
            />
            Eagles
          </div>
        </div>
        <div class="d-flex gap-20 align-items-center">
          <img
            src="images/ico/live.svg"
            width="18"
            height="18"
            class="object-fit-cover"
            alt=""
          />
          <div class="d-flex flex-column text-secondary">
            <span>1</span>
            <span>3</span>
          </div>
          <div class="scoreboardItem__game">
            <div class="d-flex gap-1 align-items-center">
              2
              <img
                src="images/ico/triangle.svg"
                width="8"
                height="8"
                class="object-fit-cover"
                alt=""
              />
            </div>
            <img
              src="images/ico/game-icon.svg"
              width="20"
              height="9"
              class="object-fit-cover"
              alt=""
            />
          </div>
          <div class="scoreboardItem__game">
            <img
              src="images/ico/game-icon-2.svg"
              width="24"
              height="18"
              class="object-fit-cover"
              alt=""
            />
            <div class="">0–2</div>
          </div>
        </div>
      </div>
      <div class="text-xs">W:Ercoli L: Duffek S: Křeček</div>
    </a>
    <a href="#" class="scoreboardItem">
      <div class="scoreboardItem__row">
        <div class="scoreboardItem__teams">
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-2.png"
              width="24"
              height="24"
              alt=""
            />
            Kotlářka
          </div>
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-1.png"
              width="24"
              height="24"
              alt=""
            />
            Eagles
          </div>
        </div>
        <div class="d-flex gap-20 align-items-center">
          <img
            src="images/ico/live.svg"
            width="18"
            height="18"
            class="object-fit-cover"
            alt=""
          />
          <div class="d-flex flex-column text-secondary">
            <span>1</span>
            <span>3</span>
          </div>
          <div class="scoreboardItem__game">
            <div class="d-flex gap-1 align-items-center">
              2
              <img
                src="images/ico/triangle.svg"
                width="8"
                height="8"
                class="object-fit-cover"
                alt=""
              />
            </div>
            <img
              src="images/ico/game-icon.svg"
              width="20"
              height="9"
              class="object-fit-cover"
              alt=""
            />
          </div>
          <div class="scoreboardItem__game">
            <img
              src="images/ico/game-icon-2.svg"
              width="24"
              height="18"
              class="object-fit-cover"
              alt=""
            />
            <div class="">0–2</div>
          </div>
        </div>
      </div>
      <div class="text-xs">W:Ercoli L: Duffek S: Křeček</div>
    </a>
    <div class="scoreboardItem">
      <div class="scoreboardItem__row">
        <div class="scoreboardItem__teams">
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-1.png"
              width="24"
              height="24"
              alt=""
            />
            Eagles
          </div>
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-2.png"
              width="24"
              height="24"
              alt=""
            />
            Kotlářka
          </div>
        </div>
        <div class="d-flex gap-20 align-items-center">
          <div class="text-end">
            <div>ne 26. 1.</div>
            <div>18:00</div>
          </div>
        </div>
      </div>
      <div class="text-xs">W:Ercoli L: Duffek S: Křeček</div>
    </div>
    <a href="#" class="scoreboardItem">
      <div class="scoreboardItem__row">
        <div class="scoreboardItem__teams">
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-1.png"
              width="24"
              height="24"
              alt=""
            />
            Eagles
          </div>
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-2.png"
              width="24"
              height="24"
              alt=""
            />
            Kotlářka
          </div>
        </div>
        <div class="d-flex gap-20 align-items-center">
          <div class="d-flex flex-column">
            <span>5</span>
            <span>2</span>
          </div>
          <div class="text-end">F/11</div>
        </div>
      </div>
      <div class="text-xs">W:Ercoli L: Duffek S: Křeček</div>
    </a>
    <a href="#" class="scoreboardItem">
      <div class="scoreboardItem__row">
        <div class="scoreboardItem__teams">
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-2.png"
              width="24"
              height="24"
              alt=""
            />
            Kotlářka
          </div>
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-1.png"
              width="24"
              height="24"
              alt=""
            />
            Eagles
          </div>
        </div>
        <div class="d-flex gap-20 align-items-center">
          <img
            src="images/ico/live.svg"
            width="18"
            height="18"
            class="object-fit-cover"
            alt=""
          />
          <div class="d-flex flex-column text-secondary">
            <span>1</span>
            <span>3</span>
          </div>
          <div class="scoreboardItem__game">
            <div class="d-flex gap-1 align-items-center">
              2
              <img
                src="images/ico/triangle.svg"
                width="8"
                height="8"
                class="object-fit-cover"
                alt=""
              />
            </div>
            <img
              src="images/ico/game-icon.svg"
              width="20"
              height="9"
              class="object-fit-cover"
              alt=""
            />
          </div>
          <div class="scoreboardItem__game">
            <img
              src="images/ico/game-icon-2.svg"
              width="24"
              height="18"
              class="object-fit-cover"
              alt=""
            />
            <div class="">0–2</div>
          </div>
        </div>
      </div>
      <div class="text-xs">W:Ercoli L: Duffek S: Křeček</div>
    </a>
    <a href="#" class="scoreboardItem">
      <div class="scoreboardItem__row">
        <div class="scoreboardItem__teams">
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-2.png"
              width="24"
              height="24"
              alt=""
            />
            Kotlářka
          </div>
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-1.png"
              width="24"
              height="24"
              alt=""
            />
            Eagles
          </div>
        </div>
        <div class="d-flex gap-20 align-items-center">
          <img
            src="images/ico/live.svg"
            width="18"
            height="18"
            class="object-fit-cover"
            alt=""
          />
          <div class="d-flex flex-column text-secondary">
            <span>1</span>
            <span>3</span>
          </div>
          <div class="scoreboardItem__game">
            <div class="d-flex gap-1 align-items-center">
              2
              <img
                src="images/ico/triangle.svg"
                width="8"
                height="8"
                class="object-fit-cover"
                alt=""
              />
            </div>
            <img
              src="images/ico/game-icon.svg"
              width="20"
              height="9"
              class="object-fit-cover"
              alt=""
            />
          </div>
          <div class="scoreboardItem__game">
            <img
              src="images/ico/game-icon-2.svg"
              width="24"
              height="18"
              class="object-fit-cover"
              alt=""
            />
            <div class="">0–2</div>
          </div>
        </div>
      </div>
      <div class="text-xs">W:Ercoli L: Duffek S: Křeček</div>
    </a>
    <div class="scoreboardItem">
      <div class="scoreboardItem__row">
        <div class="scoreboardItem__teams">
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-1.png"
              width="24"
              height="24"
              alt=""
            />
            Eagles
          </div>
          <div class="scoreboardItem__team">
            <img
              src="images/content/club-2.png"
              width="24"
              height="24"
              alt=""
            />
            Kotlářka
          </div>
        </div>
        <div class="d-flex gap-20 align-items-center">
          <div class="text-end">
            <div>ne 26. 1.</div>
            <div>18:00</div>
          </div>
        </div>
      </div>
      <div class="text-xs">W:Ercoli L: Duffek S: Křeček</div>
    </div>
  </div>
</div>
