<section class="videos-section">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-4">
        <a href="#" class="videos-section__item">
          <div class="videos-section__item-img">
            <img
              loading="lazy"
              srcset="images/content/topstory.png 458w"
              width="458"
              height="258"
              class="object-fit-cover"
              alt=""
            />
          </div>
          <div class="px-3">
            <h3 class="h4 text-primary fw-bold text-center">
              #935 Kotlářka – Hluboká
            </h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="videos-section__item">
          <div class="videos-section__item-img">
            <img
              loading="lazy"
              srcset="images/content/topstory.png 458w"
              width="458"
              height="258"
              class="object-fit-cover"
              alt=""
            />
          </div>
          <div class="px-3">
            <h3 class="h4 text-primary fw-bold text-center">
              #935 Kotlářka – Hluboká
            </h3>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="videos-section__item">
          <div class="videos-section__item-img">
            <img
              loading="lazy"
              srcset="images/content/topstory.png 458w"
              width="458"
              height="258"
              class="object-fit-cover"
              alt=""
            />
          </div>
          <div class="px-3">
            <h3 class="h4 text-primary fw-bold text-center">
              #935 Kotlářka – Hluboká
            </h3>
          </div>
        </a>
      </div>
    </div>
    <a href="#" class="btn btn-stroke d-flex mt-5 ms-auto">
      Další videa {% include "@images/arrow-right.svg" %}
    </a>
  </div>
</section>
