<footer class="footer">
  <div class="footer__board">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__col">
          <a href="#" class="footer__logo">
            <img src="images/ico/logo.svg" alt="logo" />
          </a>
          <p class="text-sm text-light mb-2">
            Česká baseballová asociace <br />
            Zátopkova 100/2, P.O. Box 40 <br />
            160 17 Praha 6
          </p>
          <div class="text-sm text-light">
            <strong>tel.:</strong> <a href="tel:+420242429211">242 429 211</a>
          </div>
          <div class="text-sm text-light">
            <strong>mail:</strong>
            <a href="mailto:baseball@baseball.cz">baseball@baseball.cz</a>
          </div>
        </div>
        <div class="footer__col">
          <div class="text-lg text-tertiary fw-bold mb-2">ČBA</div>

          <div class="row gx-7">
            <div class="col-auto">
              <ul class="footer__list">
                <li>
                  <a href="#">O asociaci</a>
                </li>
                <li>
                  <a href="#">Předsednictvo</a>
                </li>
                <li>
                  <a href="#">Sekretariát</a>
                </li>
                <li>
                  <a href="#">Komise</a>
                </li>
                <li>
                  <a href="#">Oddíly</a>
                </li>
              </ul>
            </div>
            <div class="col-auto">
              <ul class="footer__list">
                <li>
                  <a href="#">Regiony</a>
                </li>
                <li>
                  <a href="#">Media</a>
                </li>
                <li>
                  <a href="#">Partneři</a>
                </li>
                <li>
                  <a href="#">Pojď hrát baseball</a>
                </li>
                <li>
                  <a href="#">Staň se rozhodčím</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__col">
          <div class="text-lg text-tertiary fw-bold mb-2">Soutěže</div>
          <div class="row gx-7">
            <div class="col-auto">
              <ul class="footer__list">
                <li>
                  <a href="#">Extraliga</a>
                </li>
                <li>
                  <a href="#">Nadstavba o extraligu</a>
                </li>
                <li>
                  <a href="#">1. liga</a>
                </li>
                <li>
                  <a href="#">Extraliga U18</a>
                </li>
                <li>
                  <a href="#">Extraliga U23</a>
                </li>
              </ul>
            </div>
            <div class="col-auto">
              <ul class="footer__list">
                <li>
                  <a href="#">Regionální soutěže</a>
                </li>
                <li>
                  <a href="#">ČBP U15 Morava</a>
                </li>
                <li>
                  <a href="#">ČBP U15 Čechy</a>
                </li>
                <li>
                  <a href="#">Firstcup</a>
                </li>
                <li>
                  <a href="#">Supercup</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__col">
          <div class="text-lg text-tertiary fw-bold mb-2">Další</div>
          <div class="row gx-7">
            <div class="col-auto">
              <ul class="footer__list">
                <li>
                  <a href="#">Fanshop</a>
                </li>
                <li>
                  <a href="#">NBP</a>
                </li>
                <li>
                  <a href="#">Kalendář akcí</a>
                </li>
                <li>
                  <a href="#">GDPR</a>
                </li>
                <li>
                  <a href="#">Cookies</a>
                </li>
                <li>
                  <a href="#">Antidoping</a>
                </li>
              </ul>
            </div>
            <div class="col-auto">
              <ul class="footer__list">
                <li>
                  <a href="#">ČUS</a>
                </li>
                <li>
                  <a href="#">WBSC Europe</a>
                </li>
                <li>
                  <a href="#">WBSC </a>
                </li>
                <li>
                  <a href="#">Síň slávy</a>
                </li>
                <li>
                  <a href="#">Klub homerunářů</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__col">
          <ul class="footer__social">
            <li>
              <a href="#" target="_blank">
                <img src="images/ico/fb.svg" loading="lazy" alt="social" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="images/ico/insta.svg" loading="lazy" alt="social" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="images/ico/youtube.svg" loading="lazy" alt="social" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="images/ico/twitter.svg" loading="lazy" alt="social" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div
      class="d-flex align-items-center justify-content-between gap-3 flex-wrap text-tertiary text-md py-5"
    >
      <div class="">
        © 2025 Česká baseballová asociace &
        <a target="_blank" href="https://esportsmedia.cz/">eSports.cz s.r.o.</a>
      </div>
      <a href="#">Nastavení cookies</a>
    </div>
  </div>
</footer>
