<section class="action-section">
  <div class="container">
    <div
      class="d-flex gap-3 align-items-center justify-content-between flex-wrap mb-4"
    >
      <h2 class="h2 text-primary">Aktuální akce</h2>
      <a href="#" class="btn btn-stroke d-lg-flex d-none"
        >Zobrazit další akce {% include "@images/arrow-right.svg" %}</a
      >
    </div>
    <div class="row g-5">
      <div class="col-lg-6">
        <div class="action-section__item">
          <div class="action-section__img">
            <img
              loading="lazy"
              srcset="
                images/content/akce-1.png 784w,
                images/content/akce-1.png 392w
              "
              sizes="
                (min-width: 392px) 392px
              "
              width="392"
              height="392"
              class="object-fit-cover"
              alt=""
            />
          </div>
          <div class="action-section__content">
            <h3 class="h3 text-light mb-3">Asia Trip 2024</h3>
            <div
              class="text-md d-flex gap-12 align-items-center text-tertiary mb-1"
            >
              <img
                src="images/ico/calendar.svg"
                width="20"
                height="20"
                class="object-fit-contain"
                alt=""
              />
              2. 11. 2024 – 10. 11. 2024
            </div>
            <div
              class="text-md d-flex gap-12 align-items-center text-tertiary mb-3"
            >
              <img
                src="images/ico/marker.svg"
                width="20"
                height="20"
                class="object-fit-contain"
                alt=""
              />
              Singapur, Japonsko
            </div>
            <div class="text-md mb-3 text-light">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam
              ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
              Praesent in mauris eu tortor porttitor accumsan.
            </div>
            <a href="#" class="link">
              Detail akce <img src="images/ico/arrow-right.svg" alt="arrow" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="action-section__item">
          <div class="action-section__img">
            <img
              loading="lazy"
              srcset="
                images/content/akce-2.png 784w,
                images/content/akce-2.png 392w
              "
              sizes="
                 (min-width: 392px) 392px
               "
              width="392"
              height="392"
              class="object-fit-cover"
              alt=""
            />
          </div>
          <div class="action-section__content">
            <h3 class="h3 text-light mb-3">Asia Trip 2024</h3>
            <div
              class="text-md d-flex gap-12 align-items-center text-tertiary mb-1"
            >
              <img
                src="images/ico/calendar.svg"
                width="20"
                height="20"
                class="object-fit-contain"
                alt=""
              />
              2. 11. 2024 – 10. 11. 2024
            </div>
            <div
              class="text-md d-flex gap-12 align-items-center text-tertiary mb-3"
            >
              <img
                src="images/ico/marker.svg"
                width="20"
                height="20"
                class="object-fit-contain"
                alt=""
              />
              Singapur, Japonsko
            </div>
            <div class="text-md mb-3 text-light">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam
              ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
              Praesent in mauris eu tortor porttitor accumsan. quis, interdum
              ultricies, scelerisque eu. Praesent in mauris eu tortor porttitor
              accumsan.
            </div>
            <a href="#" class="link">
              Detail akce <img src="images/ico/arrow-right.svg" alt="arrow" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-stroke d-lg-none d-flex mt-4"
      >Zobrazit další akce {% include "@images/arrow-right.svg" %}</a
    >
  </div>
</section>
