.eventsCalendar-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-transform: capitalize;
  li {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  li span {
    display: block;
    border-radius: 4px;
    width: 1rem;
    height: 1rem;
  }
}
.eventsCalendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 24px;
  overflow-x: hidden;
  @include media-breakpoint-down(lg) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.calendar-toolbar {
  display: flex;
  align-items: center;
  gap: 20px;
  @include media-breakpoint-down(lg) {
    justify-content: center;
  }

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }
  .select2-container {
    @include media-breakpoint-down(sm) {
      order: -1;
    }
  }
  button {
    cursor: pointer;
    border: 1px solid var(--color-primary);
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: all 0.3s;
    border-radius: 6px;
    padding: 0;
    margin: 0;
    min-width: 52px;
    &:hover {
      background: var(--color-primary);
      svg path {
        stroke: var(--color-light);
      }
    }
    svg {
      width: 32px;
      height: 32px;
      path {
        transition: all 0.3s;
        stroke: var(--color-primary);
      }
    }
  }
}
.calendarToolbar-btn--prev {
  svg {
    transform: rotate(-180deg);
  }
}
.tippy-box {
  background: var(--color-primary);
}
.tippy-arrow::before {
  color: var(--color-primary);
}
.calendarToolbar-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6875rem;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  height: 52px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
