<a href="#" class="post">
  <div class="tag">Aktuality</div>
  <img
    loading="lazy"
    srcset="
      https://picsum.photos/672/672 672w,
      https://picsum.photos/336/336 336w
    "
    sizes="
     (min-width: 336px) 336px,
     calc(100vw - 2rem)
   "
    width="336"
    height="336"
    class="object-fit-cover"
    alt=""
  />
  <div class="post__content">
    <h3 class="h4 text-light mb-2 ">
      Baseball se vrátil mezi prioritní sporty. Klíčové, raduje se předseda
      Ditrich
    </h3>
    <div class="text-tertiary text-md">24. 1. 2024</div>
  </div>
</a>
