<section class="topstory">
  <a href="#" class="topstory__item">
    <img
      loading="lazy"
      srcset="
        images/content/topstory.png 3840w,
        images/content/topstory.png 1920w
      "
      sizes="
      (min-width: 1920px) 1920px
      
    "
      width="1920"
      height="1000"
      class="topstory__img"
      alt=""
    />
    <div class="container">
      <div class="topstory__content">
        <h1 class="h1 mb-3">
          Baseball se vrátil mezi prioritní sporty. Klíčové, raduje se předseda
          Ditrich
        </h1>
        <ul class="tags">
          <li>
            <div class="tag">Aktuality</div>
          </li>
          <li>
            <div class="text-lg">24. 1. 2024</div>
          </li>
        </ul>
      </div>
    </div>
  </a>

  <ul class="topstory__social">
    <li>
      <a href="#" target="_blank">
        <img src="images/ico/fb.svg" loading="lazy" alt="social" />
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <img src="images/ico/insta.svg" loading="lazy" alt="social" />
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <img src="images/ico/youtube.svg" loading="lazy" alt="social" />
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <img src="images/ico/twitter.svg" loading="lazy" alt="social" />
      </a>
    </li>
  </ul>
</section>
