<section class="subPage">
  <div class="container">
    <div class="row g-5">
      <div class="col-xl-9">
        <div class="subPage__wrapper">
          <h1 class="h1 text-primary mb-5">Sekretariát (H1)</h1>
          <div class="o-content">
            <p>
              <strong>
                Baseball se nečekaně vrátil mezi třicítku prioritních sportů
                Národní sportovní agentury pro roky 2025 a 2026. Vrcholný
                sportovní orgán v České republice přehodnotil dřívější
                rozhodnutí, v němž došlo k administrativní chybě.
              </strong>
            </p>
            <h2>Titulek H2</h2>
             <div>
              <u><b>Komu a jak jsme pomohli</b></u>
            </div>
            <br />
            <ul>
              <li>
                2013
                <ul>
                  <li>
                    Dvacet reprezentantů na MS juniorů Taichung na Tchaj-wanu
                    dostalo příspěvek 2 800,-. Celkem šlo z fondu 56 000,-Kč
                  </li>
                  <li>
                    Osmnáct reprezentantů na MS žáků Taipei na Tchaj-wanu
                    dostalo příspěvek 2 800,-. Celkem šlo z fondu 50 400,-Kč
                  </li>
                </ul>
              </li>
              <li>
                2014
                <ul>
                  <li>
                    Šestnáct reprezentantů na MS U21 Taichung na Tchaj-wanu
                    dostalo příspěvek 5 000,-. Celkem šlo z fondu 80 000,-Kč
                  </li>
                  <li>
                    Osmnáct reprezentantů na MS Kadetů v Mexiko dostalo
                    příspěvek 2 800,-. Celkem šlo z fondu 50 400,-Kč
                  </li>
                </ul>
              </li>
              <li>
                2016
                <ul>
                  <li>Příprava na ME 4 000,-</li>
                  <li>Tréninkový proces 22 000,-</li>
                  <li>Vybavení 14 000,-</li>
                  <li>zahraniční turnaje 20 000,-</li>
                  <li>COLT WS 60 000,-</li>
                  <li>turnaj CBLE 11 433,-</li>
                </ul>
              </li>
              <li>
                2017
                <ul>
                  <li>akademie 44 980,-</li>
                  <li>USA 25 000,-</li>
                  <li>sezóna 2017 10 000,-</li>
                  <li>turnaje 36 000,-</li>
                </ul>
              </li>
              <li>
                2018
                <ul>
                  <li>sezóna 2018 30 000,-</li>
                  <li>materiál 29 000,-</li>
                  <li>sportovní kemp 3 000,-</li>
                  <li>příspěvek akademie 29 900,-</li>
                </ul>
              </li>
              <li>
                2019
                <ul>
                  <li>příspěvky, materiál, tréninky 44 000,-</li>
                  <li>PG Camp, Florida 25 000,-</li>
                  <li>Akademie Brno 49 750,-</li>
                </ul>
              </li>
              <li>
                2020
                <ul>
                  <li>příspěvky, vybavení 37 000,-</li>
                  <li>Akademie Brno 9 950,-</li>
                  <li>turnaje, reprezentace 10 000,-</li>
                </ul>
              </li>
              <li>
                2021
                <ul>
                  <li>Vybavení 25 000,-</li>
                </ul>
              </li>
              <li>
                2022
                <ul>
                  <li>Tenerife 10 000,-</li>
                </ul>
              </li>
              <li>
                2023
                <ul>
                  <li>
                    Reprezentace do 18 let, výjezd na MS na Taiwan byla
                    podpořena celkovou částkou 218 000 Kč
                  </li>
                  <li>
                    Podpora mládežnických reprezentantů při studiu v USA celkem
                    za 100 000 Kč
                  </li>
                  <li>
                    Podpora na sportovní vybavení talentované mládeže celkem za
                    30 000 Kč
                  </li>
                </ul>
              </li>
            </ul>
            <div>
              <b><u>Kdo pomohl </u></b>
            </div>
            <div>
              <b>Hlavním partnerem fondu potřebným je nadace ČEZ</b>
            </div>
            <div>
              <a href="https://pomahejpohybem.cz/" target="_new"
                ><img
                  src="https://baseball.sh13w2.esports.cz/data/editor/20260317/084552_562c_CEZ-EPP.svg"
                  width="300" /></a
              >&nbsp;
            </div>
            <div><b>Příspěvky do fondu potřebným</b></div>
            <div>
              <b><br /></b>
              <ul  >
                <li>PRODANÁ TRIČKA - 2012 celkem za 5 973,-</li>
                <li>PRODANÉ ZIMNÍ ČEPICE - 2012 celkem za 7 250,-</li>
                <li>PRODANÁ DVD - 2012 celkem za 9 380,-</li>
                <li>
                  DRAŽBA - PRAŽSKÝ BASEBALLOVÝ TÝDEN 2012 celekem za 27 400,-
                </li>
                <li>DRAŽBA - ALL STAR GAME - TŘEBÍČ 2012 celkem za 15 850,-</li>
                <li>DRAŽBA - HORSKÁ KLINIKA 2012 celkem za 8 200,-</li>
                <li>PRODANÁ TRIČKA - 2013 celkem za 41 700,-</li>
                <li>PRODANÉ ZIMNÍ ČEPICE - 2013 celkem za 4 150,-</li>
                <li>PRODANÁ DVD - 2013 celkem za 16 950,-</li>
                <li>
                  DRAŽBA - FINÁLE EXTRALIGY - BRNO 2013 celkem za 30 320,-
                </li>
                <li>
                  DRAŽBA - PRAŽSKÝ BASEBALLOVÝ TÝDEN 2013 celkem za 34 800,-
                </li>
                <li>DRAŽBA - HORSKÁ KLINIKA 2013 celkem za 30 000,-</li>
                <li>PRODANÉ ZIMNÍ ČEPICE - 2014 celkem za 3 100,-</li>
                <li>PRODANÁ DVD - 2014 celkem za 8 100,-</li>
                <li>
                  DRAŽBA - PRAŽSKÝ BASEBALLOVÝ TÝDEN 2014 celkem za 17 850,-
                </li>
                <li>DRAŽBA - ALL STAR GAME - BRNO 2014 celkem za 16 450,-</li>
                <li>DRAŽBA - HORSKÁ KLINIKA 2014 celkem za 34 850,-</li>
                <li>Prodej triček 2015 celkem za 20 000,-</li>
                <li>Rozhodčí - dar 2016 za 10 000,-</li>
                <li>
                  Dražba HK, dary, prodej čepic a triček v roce 2017 celkem za
                  59 199,-
                </li>
                <li>
                  Dražba HK, RCC, dary, prodeje Armi trik, Eshop v roce 2018
                  celkem za 123 800,-
                </li>
                <li>Dražba RCC - Polička 2019 12 000,-</li>
                <li>Prodejn na Eshopu 2019 celkem 81 295,-</li>
                <li>Dražba - RCC 2020 vybráno 19 000,-</li>
                <li>Dražba - HK 2019 vybráno 20 000,-</li>
                <li>Dražba - RCC 2021 vydraženo za 6 500,-</li>
                <li>Dražba - HK v roce 2022 vybráno 18 850,-</li>
                <li>Dražba národního týmu 2022 24 000,-</li>
                <li> 
                  2023
                  <ul  >
                    <li>
                      Nadace ČEZ -&gt; 100 000 Kč (letenky mistrovství světa)
                    </li>
                    <li>Mužský národní tým -&gt; 30 000 Kč (Gala)</li>
                    <li>Rudolf Drnec -&gt; 50 000 Kč (člen Síně slávy)</li>
                    <li>Jiří Maršálek -&gt; 50 000 Kč (člen Síně slávy)</li>
                    <li>Charitativní golfový turnaj -&gt; 10 500 Kč</li>
                    <li>
                      Daniel Trunkát -&gt; 21 000 Kč (dražba All Star Game
                      Choceň)
                    </li>
                    <li>
                      Michal Přeček -&gt; 12 000 Kč (dražba All Star Game
                      Choceň)
                    </li>
                    <li>
                      Aleš Posselt -&gt; 16 000 Kč (dražba All Star Game Choceň)
                    </li>
                    <li>
                      Martin Urbánek -&gt; 14 000 Kč (dražba All Star Game
                      Choceň)
                    </li>
                    <li>
                      Vlasta Mužíková -&gt; 4 000 Kč (dražba All Star Game
                      Choceň)
                    </li>
                    <li>
                      Petr Krška -&gt; 3 000 Kč (dražba All Star Game Choceň)
                    </li>
                    <li>
                      Jan Jelínek -&gt; 4 000 Kč (dražba All Star Game Choceň)
                    </li>
                    <li>
                      Lukáš Kornfeld -&gt; 10 000 Kč (dražba facebook Baseball
                      Czech)
                    </li>
                    <li>Vít Chocholouš -&gt; 4 000 Kč</li>
                    <li>Dražba Horská klinika -&gt; 36 500 Kč</li>
                    <li>Rookie Coaches Clinic -&gt; 28 300 Kč</li>
                    <li>Keisuke Saito -&gt; 20 000 Kč</li>
                    <li>Radka Matuszková -&gt; 5 500 Kč</li>
                    <li>Michal Baroš -&gt; 15 000 Kč (Eurobaseball)</li>
                  </ul>
                </li>
              </ul>
            <p>
              Pro český baseball to je podle předsedy České baseballové asociace
              Petra Ditricha naprosto zásadní zpráva, která pozitivně ovlivní
              přípravu na vrcholné sportovní akce. Z prioritní skupiny nakonec
              vypadlo taekwondo.
            </p>
            <p>
              „Velmi si vážíme nového rozhodnutí Národní sportovní agentury,
              která nás nakonec přeci jen zařadila mezi třicet prioritizovaných
              sportovních svazů. Je to pro nás klíčová zpráva, za kterou jsme
              nesmírně vděční. Tento krok nám umožní stabilní financování
              baseballu v České republice na následující dva roky a zajistí
              potřebné prostředky pro přípravu na významné mezinárodní akce,“
              nechal se slyšet Ditrich.
            </p>
            <p>
              V roce 2026 se český tým zúčastní světového turnaje World Baseball
              Classic, po kterém by měla následovat kvalifikace na turnaj
              Premier 12 pro nejlepších dvanáct týmů světa. „Oba tyto turnaje
              jsou nesmírně důležité pro rozvoj našeho sportu na nejvyšší
              mezinárodní úrovni. Zároveň se připravujeme i na kvalifikaci na
              olympijské hry v Los Angeles 2028, které jsou naším dlouhodobým
              cílem. Díky vylepšenému financování budeme moci pokračovat v
              propagaci dobrého jména České republiky ve světě, stejně jako se
              nám to dařilo v minulých letech,“ uvedl Ditrich.
            </p>
            <h3>Titulek H3</h3>
            <p>
              Pro český baseball to je podle předsedy České baseballové asociace
              Petra Ditricha naprosto zásadní zpráva, která pozitivně ovlivní
              přípravu na vrcholné sportovní akce. Z prioritní skupiny nakonec
              vypadlo taekwondo.
            </p>
            <p>
              „Velmi si vážíme nového rozhodnutí Národní sportovní agentury,
              která nás nakonec přeci jen zařadila mezi třicet prioritizovaných
              sportovních svazů. Je to pro nás klíčová zpráva, za kterou jsme
              nesmírně vděční. Tento krok nám umožní stabilní financování
              baseballu v České republice na následující dva roky a zajistí
              potřebné prostředky pro přípravu na významné mezinárodní akce,“
              nechal se slyšet Ditrich.
            </p>
            <p>
              V roce 2026 se český tým zúčastní světového turnaje World Baseball
              Classic, po kterém by měla následovat kvalifikace na turnaj
              Premier 12 pro nejlepších dvanáct týmů světa. „Oba tyto turnaje
              jsou nesmírně důležité pro rozvoj našeho sportu na nejvyšší
              mezinárodní úrovni. Zároveň se připravujeme i na kvalifikaci na
              olympijské hry v Los Angeles 2028, které jsou naším dlouhodobým
              cílem. Díky vylepšenému financování budeme moci pokračovat v
              propagaci dobrého jména České republiky ve světě, stejně jako se
              nám to dařilo v minulých letech,“ uvedl Ditrich.
            </p>
            <h4>Titulek H4</h4>
            <p>
              Pro český baseball to je podle předsedy České baseballové asociace
              Petra Ditricha naprosto zásadní zpráva, která pozitivně ovlivní
              přípravu na vrcholné sportovní akce. Z prioritní skupiny nakonec
              vypadlo taekwondo.
            </p>
            <p>
              „Velmi si vážíme nového rozhodnutí Národní sportovní agentury,
              která nás nakonec přeci jen zařadila mezi třicet prioritizovaných
              sportovních svazů. Je to pro nás klíčová zpráva, za kterou jsme
              nesmírně vděční. Tento krok nám umožní stabilní financování
              baseballu v České republice na následující dva roky a zajistí
              potřebné prostředky pro přípravu na významné mezinárodní akce,“
              nechal se slyšet Ditrich.
            </p>
            <p>
              V roce 2026 se český tým zúčastní světového turnaje World Baseball
              Classic, po kterém by měla následovat kvalifikace na turnaj
              Premier 12 pro nejlepších dvanáct týmů světa. „Oba tyto turnaje
              jsou nesmírně důležité pro rozvoj našeho sportu na nejvyšší
              mezinárodní úrovni. Zároveň se připravujeme i na kvalifikaci na
              olympijské hry v Los Angeles 2028, které jsou naším dlouhodobým
              cílem. Díky vylepšenému financování budeme moci pokračovat v
              propagaci dobrého jména České republiky ve světě, stejně jako se
              nám to dařilo v minulých letech,“ uvedl Ditrich.
            </p>
            <table>
              <thead>
                <tr>
                  <th>Sloupec č. 1</th>
                  <th>sloupec č. 2</th>
                  <th>sloupec č. 3</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Klasický řádek textu</td>
                  <td>Text ve sloupci č. 2</td>
                  <td>Delší textace tohoto sloupce, tedy s větší šířkou</td>
                </tr>
                <tr>
                  <td>Klasický řádek textu</td>
                  <td>Text ve sloupci č. 2</td>
                  <td>Delší textace tohoto sloupce, tedy s větší šířkou</td>
                </tr>
                <tr>
                  <td>Klasický řádek textu</td>
                  <td>Text ve sloupci č. 2</td>
                  <td>Delší textace tohoto sloupce, tedy s větší šířkou</td>
                </tr>
                <tr>
                  <td>Klasický řádek textu</td>
                  <td>Text ve sloupci č. 2</td>
                  <td>Delší textace tohoto sloupce, tedy s větší šířkou</td>
                </tr>
                <tr>
                  <td>Klasický řádek textu</td>
                  <td>Text ve sloupci č. 2</td>
                  <td>Delší textace tohoto sloupce, tedy s větší šířkou</td>
                </tr>
                <tr>
                  <td>Klasický řádek textu</td>
                  <td>Text ve sloupci č. 2</td>
                  <td>Delší textace tohoto sloupce, tedy s větší šířkou</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="px-6 py-5 border-1 mb-5">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="d-flex gap-4 align-items-center">
                  <a href="documents/download.pdf" download>
                    <img
                      class="object-fit-contain"
                      src="images/ico/pdf.svg"
                      width="40"
                      height="40"
                      alt="file"
                    />
                  </a>

                  <div class="">
                    <a
                      href="documents/download.pdf"
                      download
                      class="text-lg text-primary fw-bold linkDecoration"
                    >
                      Pravidla baseballu k 1. 1. 2025
                    </a>
                    <div class="text-sm text-tertiary">
                      18. 2. 2025 | 263 kB
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex gap-4 align-items-center">
                  <a href="documents/download.pdf" download>
                    <img
                      class="object-fit-contain"
                      src="images/ico/xls.svg"
                      width="40"
                      height="40"
                      alt="file"
                    />
                  </a>
                  <div class="">
                    <a
                      href="documents/download.pdf"
                      download
                      class="text-lg text-primary fw-bold linkDecoration"
                    >
                      Pravidla baseballu k 1. 1. 2025
                    </a>
                    <div class="text-sm text-tertiary">
                      18. 2. 2025 | 263 kB
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex gap-4 align-items-center">
                  <a href="documents/download.pdf" download>
                    <img
                      class="object-fit-contain"
                      src="images/ico/xlsx.svg"
                      width="40"
                      height="40"
                      alt="file"
                    />
                  </a>
                  <div class="">
                    <a
                      href="documents/download.pdf"
                      download
                      class="text-lg text-primary fw-bold linkDecoration"
                    >
                      Pravidla baseballu k 1. 1. 2025
                    </a>
                    <div class="text-sm text-tertiary">
                      18. 2. 2025 | 263 kB
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex gap-4 align-items-center">
                  <a href="documents/download.pdf" download>
                    <img
                      class="object-fit-contain"
                      src="images/ico/doc.svg"
                      width="40"
                      height="40"
                      alt="file"
                  /></a>
                  <div class="">
                    <a
                      href="documents/download.pdf"
                      download
                      class="text-lg text-primary fw-bold linkDecoration"
                    >
                      Pravidla baseballu k 1. 1. 2025
                    </a>
                    <div class="text-sm text-tertiary">
                      18. 2. 2025 | 263 kB
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="galleryBox">
            <div
              class="mb-3 text-primary d-flex align-items-center gap-2 justify-content-between flex-wrap"
            >
              <h2 class="h2">Fotogalerie</h2>
              <div class="text-md fw-bold">Počet fotografií: 24</div>
            </div>
            <div class="row g-3">
              <div class="col-lg-3 col-6">
                <a
                  class="galleryBox__item"
                  href="#"
                  data-source="/baseball.cz/build/ajax-gallery.json"
                  data-gallery-id="1"
                >
                  <img
                    loading="lazy"
                    srcset="
                      https://picsum.photos/432/290 432w,
                      https://picsum.photos/216/145 216w
                    "
                    sizes="
                 (min-width: 216px) 216px,
                 calc(100vw - 2rem)
               "
                    width="216"
                    height="145"
                    class="object-fit-cover"
                    alt=""
                  />
                </a>
              </div>
              <div class="col-lg-3 col-6">
                <a
                  class="galleryBox__item"
                  href="#"
                  data-source="/baseball.cz/build/ajax-gallery.json"
                  data-gallery-id="1"
                >
                  <img
                    loading="lazy"
                    srcset="
                      https://picsum.photos/432/290 432w,
                      https://picsum.photos/216/145 216w
                    "
                    sizes="
                 (min-width: 216px) 216px,
                 calc(100vw - 2rem)
               "
                    width="216"
                    height="145"
                    class="object-fit-cover"
                    alt=""
                  />
                </a>
              </div>
              <div class="col-lg-3 col-6">
                <a
                  class="galleryBox__item"
                  href="#"
                  data-source="/baseball.cz/build/ajax-gallery.json"
                  data-gallery-id="1"
                >
                  <img
                    loading="lazy"
                    srcset="
                      https://picsum.photos/432/290 432w,
                      https://picsum.photos/216/145 216w
                    "
                    sizes="
                 (min-width: 216px) 216px,
                 calc(100vw - 2rem)
               "
                    width="216"
                    height="145"
                    class="object-fit-cover"
                    alt=""
                  />
                </a>
              </div>
              <div class="col-lg-3 col-6">
                <a
                  class="galleryBox__item"
                  href="#"
                  data-source="/baseball.cz/build/ajax-gallery.json"
                  data-gallery-id="1"
                >
                  <img
                    loading="lazy"
                    srcset="
                      https://picsum.photos/432/290 432w,
                      https://picsum.photos/216/145 216w
                    "
                    sizes="
                 (min-width: 216px) 216px,
                 calc(100vw - 2rem)
               "
                    width="216"
                    height="145"
                    class="object-fit-cover"
                    alt=""
                  />
                  <div class="galleryBox__link">
                    <span
                      >Prohlédnout galerii
                      <img src="images/ico/arrow-right.svg" alt="arrow"
                    /></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        {% include "@components/aside/aside-menu.twig" %}
      </div>
    </div>
  </div>
</section>



