:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-primary: #004873;
  --color-secondary: #c22532;
  --color-tertiary: #678ab5;

  --color-line: #e4e4e7;

  --gradient-1: linear-gradient(
    180deg,
    rgba(0, 72, 115, 0) 25.46%,
    #004873 100%
  );

  --shadow-4xl: 0px 20px 40px -12px #1018280d;
  --bs-accordion-btn-bg: #fff;

  --color-green: #419e6a;
  --color-red: #d22020;
  --color-purple: #901caa;
  --color-yellow: #dada28;
  --color-light-gray: #dfdfdf;
  --color-gray: #8a8a8a;
  --color-orange: #cc7d0d;

  --color-gray-200: #eef1f3;
  --color-gray-50: #fafafa;
  --color-error-10: #ffebeb;
}
