:root {
  --font-display: "Czechia", sans-serif;
  --font-body: "Inria Serif", serif;
  --color-light: #fff;
  --color-dark: #113161;

  --color-primary: #1d428a;
  --color-secondary: #c22532;
  --color-tertiary: #f4eace;

  --color-line: #ede2c9;

  --gradient-1: linear-gradient(
    180deg,
    rgba(0, 72, 115, 0) 25.46%,
    #004873 100%
  );

  // --shadow-4xl: 0px 20px 40px -12px #1018280d;

  --bs-accordion-btn-bg: #fff;

  --color-green: #419e6a;
  --color-red: #d22020;
  --color-purple: #901caa;
  --color-yellow: #dada28;
  --color-light-gray: #dfdfdf;
  --color-gray: #8a8a8a;
  --color-orange: #cc7d0d;

  --color-gray-200: #eef1f3;
  --color-gray-50: #fafafa;
  --color-error-10: #ffebeb;
}
