:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-primary: #004873;
  --color-secondary: #c22532;
  --color-tertiary: #678ab5;

  --color-line: #e4e4e7;

  --gradient-1: linear-gradient(
    180deg,
    rgba(0, 72, 115, 0) 25.46%,
    #004873 100%
  );

  --shadow-4xl: 0px 20px 40px -12px #1018280d;
}
 
