{% extends "@components/base/base.twig" %} {% set title = "03.0_static" %} {%
block main %} {% include "@components/subPage/subPage.twig" %}

<div class="mb-7">
  <div class="container">
    <h3 class="h2 text-primary mb-4">Aktuálně na webu</h3>
    <div class="row g-5">
      <div class="col-lg-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-lg-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-lg-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-lg-3 col-sm-6">
        {% include "@components/post/post.twig" %}
      </div>
    </div>
  </div>
</div>
{% include "@components/partnersSlider/partnersSlider.twig" %} {% endblock %}
