{% extends "@components/base/base.twig" %} {% set title = "08.0_club-contacts"
%} {% block main %}

<div class="headerSection">
  <div class="container">
    <div class="headerSection__inner">
      <div class="d-flex gap-20 align-items-center flex-wrap">
        <img
          src="images/content/kotlarka.png"
          width="48"
          height="48"
          class="object-fit-contain"
          alt="login"
        />
        <h1 class="h1 text-primary">Kotlářka Praha</h1>
      </div>

      <div class="d-flex align-items-center gap-5 flex-wrap">
        <ul class="headerSection__menu">
          <li>
            <a href="" class="headerSection__menu-link"> Přehled </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Hřiště </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link active"> Kontakty </a>
          </li>
        </ul>
        <ul class="headerSection__social">
          <li>
            <a href="#" target="_blank">
              {% include "@images/fb-primary.svg" %}
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              {% include "@images/youtube-primary.svg" %}
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              {% include "@images/insta-primary.svg" %}
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              {% include "@images/tiktok-primary.svg" %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
<section class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-xl-4 col-md-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-xl-4 col-md-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-xl-4 col-md-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-xl-4 col-md-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-xl-4 col-md-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
      <div class="col-xl-4 col-md-6">
        {% include "@components/contactItem/contactItem.twig" %}
      </div>
    </div>
  </div>
</section>

<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
