{% extends "@components/base/base.twig" %} {% set title = "10.0_club" %} {%
block main %}

<div class="headerSection">
  <div class="container">
    <div class="headerSection__inner">
      <div class="d-flex gap-20 align-items-center flex-wrap">
        <img
          src="images/content/kotlarka.png"
          width="48"
          height="48"
          class="object-fit-contain"
          alt="login"
        />
        <h1 class="h1 text-primary">Kotlářka Praha</h1>
      </div>

      <div class="d-flex align-items-center gap-5 flex-wrap">
        <ul class="headerSection__menu">
          <li>
            <a href="" class="headerSection__menu-link active"> Přehled </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Hřiště </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Kontakty </a>
          </li>
        </ul>
        <ul class="headerSection__social">
          <li>
            <a href="#" target="_blank">
              {% include "@images/fb-primary.svg" %}
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              {% include "@images/youtube-primary.svg" %}
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              {% include "@images/insta-primary.svg" %}
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              {% include "@images/tiktok-primary.svg" %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="mb-7">
  <div class="container">
    <div
      class="contentBox d-flex justify-content-between align-items-center flex-wrap-reverse gap-5"
    >
      <div class="d-flex flex-column gap-12">
        <div class="d-flex gap-12 flex-wrap text-lg align-items-center">
          <img
            src="images/ico/calendar-black.svg"
            width="24"
            height="24"
            class="object-fit-cover"
            alt=""
          />
          <div class="text-nowrap fw-bold">Rok založení:</div>
          1990
        </div>
        <div class="d-flex gap-12 flex-wrap text-lg align-items-center">
          <img
            src="images/ico/marker-black.svg"
            width="24"
            height="24"
            class="object-fit-cover"
            alt=""
          />
          <div class="text-nowrap fw-bold">Sídlo klubu:</div>
          Pálkařská 225, 140 00 Praha 4
        </div>
        <div class="d-flex gap-12 flex-wrap text-lg align-items-center">
          <img
            src="images/ico/user.svg"
            width="24"
            height="24"
            class="object-fit-cover"
            alt=""
          />
          <div class="text-nowrap fw-bold">Předseda klubu:</div>
          Pavla Cihlářová
        </div>
        <div class="d-flex gap-12 flex-wrap text-lg align-items-center">
          <img
            src="images/ico/share.svg"
            width="24"
            height="24"
            class="object-fit-cover"
            alt=""
          />
          <div class="text-nowrap fw-bold">Web:</div>
          <a href="www.kotlarka.com" class="text-tertiary">www.kotlarka.com</a>
        </div>
        <div class="d-flex gap-12 flex-wrap text-lg align-items-center">
          <img
            src="images/ico/mail.svg"
            width="24"
            height="24"
            class="object-fit-cover"
            alt=""
          />
          <div class="text-nowrap fw-bold">E-mail:</div>
          <a href="mailto:cihlarova@kotlarka.com" class="text-tertiary"
            >cihlarova@kotlarka.com</a
          >
        </div>
        <div class="d-flex gap-12 flex-wrap text-lg align-items-center">
          <img
            src="images/ico/marker-black.svg"
            width="24"
            height="24"
            class="object-fit-cover"
            alt=""
          />
          <div class="text-nowrap fw-bold">Telefon:</div>
          <a href="tel:+420244466667" class="text-tertiary">244 466 667</a>
        </div>
      </div>
      <div class="d-flex gap-64 align-items-center justify-content-center">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="images/content/club-2.png"
            width="100"
            height="100"
          />
          <img
            src="images/content/club-2.png"
            alt="logo"
            width="160"
            height="160"
            style="object-fit: contain"
          />
        </picture>
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="images/content/kotlarka.png"
            width="100"
            height="100"
          />
          <img
            src="images/content/kotlarka.png"
            alt="logo"
            width="160"
            height="160"
            style="object-fit: contain"
          />
        </picture>
      </div>
    </div>
  </div>
</div>
<section class="subPage">
  <div class="container">
    <div class="contentBox">
      <h2 class="h1 text-primary mb-5">Historie klubu</h2>
      <div class="o-content">
        <p>
          <strong>
            Baseball se nečekaně vrátil mezi třicítku prioritních sportů Národní
            sportovní agentury pro roky 2025 a 2026. Vrcholný sportovní orgán v
            České republice přehodnotil dřívější rozhodnutí, v němž došlo k
            administrativní chybě.
          </strong>
        </p>
        <h2>Titulek H2</h2>
        <p>
          Pro český baseball to je podle předsedy České baseballové asociace
          Petra Ditricha naprosto zásadní zpráva, která pozitivně ovlivní
          přípravu na vrcholné sportovní akce. Z prioritní skupiny nakonec
          vypadlo taekwondo.
        </p>
        <p>
          „Velmi si vážíme nového rozhodnutí Národní sportovní agentury, která
          nás nakonec přeci jen zařadila mezi třicet prioritizovaných
          sportovních svazů. Je to pro nás klíčová zpráva, za kterou jsme
          nesmírně vděční. Tento krok nám umožní stabilní financování baseballu
          v České republice na následující dva roky a zajistí potřebné
          prostředky pro přípravu na významné mezinárodní akce,“ nechal se
          slyšet Ditrich.
        </p>
        <p>
          V roce 2026 se český tým zúčastní světového turnaje World Baseball
          Classic, po kterém by měla následovat kvalifikace na turnaj Premier 12
          pro nejlepších dvanáct týmů světa. „Oba tyto turnaje jsou nesmírně
          důležité pro rozvoj našeho sportu na nejvyšší mezinárodní úrovni.
          Zároveň se připravujeme i na kvalifikaci na olympijské hry v Los
          Angeles 2028, které jsou naším dlouhodobým cílem. Díky vylepšenému
          financování budeme moci pokračovat v propagaci dobrého jména České
          republiky ve světě, stejně jako se nám to dařilo v minulých letech,“
          uvedl Ditrich.
        </p>
        <h3>Titulek H3</h3>
        <p>
          Pro český baseball to je podle předsedy České baseballové asociace
          Petra Ditricha naprosto zásadní zpráva, která pozitivně ovlivní
          přípravu na vrcholné sportovní akce. Z prioritní skupiny nakonec
          vypadlo taekwondo.
        </p>
        <p>
          „Velmi si vážíme nového rozhodnutí Národní sportovní agentury, která
          nás nakonec přeci jen zařadila mezi třicet prioritizovaných
          sportovních svazů. Je to pro nás klíčová zpráva, za kterou jsme
          nesmírně vděční. Tento krok nám umožní stabilní financování baseballu
          v České republice na následující dva roky a zajistí potřebné
          prostředky pro přípravu na významné mezinárodní akce,“ nechal se
          slyšet Ditrich.
        </p>
        <p>
          V roce 2026 se český tým zúčastní světového turnaje World Baseball
          Classic, po kterém by měla následovat kvalifikace na turnaj Premier 12
          pro nejlepších dvanáct týmů světa. „Oba tyto turnaje jsou nesmírně
          důležité pro rozvoj našeho sportu na nejvyšší mezinárodní úrovni.
          Zároveň se připravujeme i na kvalifikaci na olympijské hry v Los
          Angeles 2028, které jsou naším dlouhodobým cílem. Díky vylepšenému
          financování budeme moci pokračovat v propagaci dobrého jména České
          republiky ve světě, stejně jako se nám to dařilo v minulých letech,“
          uvedl Ditrich.
        </p>
        <h4>Titulek H4</h4>
        <p>
          Pro český baseball to je podle předsedy České baseballové asociace
          Petra Ditricha naprosto zásadní zpráva, která pozitivně ovlivní
          přípravu na vrcholné sportovní akce. Z prioritní skupiny nakonec
          vypadlo taekwondo.
        </p>
        <p>
          „Velmi si vážíme nového rozhodnutí Národní sportovní agentury, která
          nás nakonec přeci jen zařadila mezi třicet prioritizovaných
          sportovních svazů. Je to pro nás klíčová zpráva, za kterou jsme
          nesmírně vděční. Tento krok nám umožní stabilní financování baseballu
          v České republice na následující dva roky a zajistí potřebné
          prostředky pro přípravu na významné mezinárodní akce,“ nechal se
          slyšet Ditrich.
        </p>
        <p>
          V roce 2026 se český tým zúčastní světového turnaje World Baseball
          Classic, po kterém by měla následovat kvalifikace na turnaj Premier 12
          pro nejlepších dvanáct týmů světa. „Oba tyto turnaje jsou nesmírně
          důležité pro rozvoj našeho sportu na nejvyšší mezinárodní úrovni.
          Zároveň se připravujeme i na kvalifikaci na olympijské hry v Los
          Angeles 2028, které jsou naším dlouhodobým cílem. Díky vylepšenému
          financování budeme moci pokračovat v propagaci dobrého jména České
          republiky ve světě, stejně jako se nám to dařilo v minulých letech,“
          uvedl Ditrich.
        </p>
      </div>
      <div class="px-6 py-5 border-1 mt-4">
        <div class="row g-3">
          <div class="col-xl-4 col-md-6">
            <div class="d-flex gap-4 align-items-center">
              <a href="documents/download.pdf" download>
                <img
                  class="object-fit-contain"
                  src="images/ico/pdf.svg"
                  width="40"
                  height="40"
                  alt="file"
                />
              </a>

              <div class="">
                <a
                  href="documents/download.pdf"
                  download
                  class="text-lg text-primary fw-bold linkDecoration"
                >
                  Pravidla baseballu k 1. 1. 2025
                </a>
                <div class="text-sm text-tertiary">18. 2. 2025 | 263 kB</div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="d-flex gap-4 align-items-center">
              <a href="documents/download.pdf" download>
                <img
                  class="object-fit-contain"
                  src="images/ico/xls.svg"
                  width="40"
                  height="40"
                  alt="file"
                />
              </a>
              <div class="">
                <a
                  href="documents/download.pdf"
                  download
                  class="text-lg text-primary fw-bold linkDecoration"
                >
                  Pravidla baseballu k 1. 1. 2025
                </a>
                <div class="text-sm text-tertiary">18. 2. 2025 | 263 kB</div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="d-flex gap-4 align-items-center">
              <a href="documents/download.pdf" download>
                <img
                  class="object-fit-contain"
                  src="images/ico/xlsx.svg"
                  width="40"
                  height="40"
                  alt="file"
                />
              </a>
              <div class="">
                <a
                  href="documents/download.pdf"
                  download
                  class="text-lg text-primary fw-bold linkDecoration"
                >
                  Pravidla baseballu k 1. 1. 2025
                </a>
                <div class="text-sm text-tertiary">18. 2. 2025 | 263 kB</div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="d-flex gap-4 align-items-center">
              <a href="documents/download.pdf" download>
                <img
                  class="object-fit-contain"
                  src="images/ico/doc.svg"
                  width="40"
                  height="40"
                  alt="file"
              /></a>
              <div class="">
                <a
                  href="documents/download.pdf"
                  download
                  class="text-lg text-primary fw-bold linkDecoration"
                >
                  Pravidla baseballu k 1. 1. 2025
                </a>
                <div class="text-sm text-tertiary">18. 2. 2025 | 263 kB</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
{% include "@components/partnersSlider/partnersSlider.twig" %} {% endblock %}
