{% extends "@components/base/base.twig" %} {% set title =
"15.0_сompetition-team" %} {% block main %}

<div class="headerSection">
  <div class="container">
    <div class="headerSection__inner">
      <div class="d-flex gap-20 align-items-center flex-wrap">
        <img
          src="images/content/extraliga.png"
          width="48"
          height="48"
          class="object-fit-contain"
          alt="login"
        />
        <h1 class="h1 text-primary">Extraliga</h1>
        <form>
          <label class="o-select select-sm">
            <select class="js-select">
              <option>2025</option>
              <option>2024</option>
              <option>2023</option>
              <option>2022</option>
            </select>
          </label>
        </form>
      </div>

      <div class="d-flex align-items-center gap-5 flex-wrap">
        <ul class="headerSection__menu">
          <li>
            <a href="" class="headerSection__menu-link"> Přehled </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Rozpis & výsledky </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Tabulka </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Statistiky </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link active"> Týmy </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Soutěž </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="mb-7">
  <div class="container">
    <div class="contentBox">
      <div
        class="d-flex gap-3 align-items-center justify-content-between flex-wrap mb-4"
      >
        <div class="d-flex align-items-center gap-4">
          <img
            src="images/content/club-2.png"
            class="object-fit-contain"
            width="80 "
            height="62"
            alt=""
          />
          <h2 class="h2 text-primary">Soupiska týmu Kotlářka Praha</h2>
        </div>

        <a href="#" class="btn btn-stroke"
          >Zobrazit detail klubu {% include "@images/arrow-right.svg" %}</a
        >
      </div>
      <h2 class="h3 text-primary mb-4">Nadhazovači (P)</h2>
      <div class="row g-5 mb-4">
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#9</div>
              <div class="fw-bold text-primary h4">William David Escala</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/default-player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="h3 text-primary mb-4">Chytači (C)</h2>
      <div class="row g-5 mb-4">
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#9</div>
              <div class="fw-bold text-primary h4">William David Escala</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/default-player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#9</div>
              <div class="fw-bold text-primary h4">William David Escala</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/default-player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="h3 text-primary mb-4">Vnitřní polaři (IF)</h2>
      <div class="row g-5 mb-4">
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#9</div>
              <div class="fw-bold text-primary h4">William David Escala</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/default-player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#9</div>
              <div class="fw-bold text-primary h4">William David Escala</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/default-player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="h3 text-primary mb-4">Vnější polaři (OF)</h2>
      <div class="row g-5">
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#9</div>
              <div class="fw-bold text-primary h4">William David Escala</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/default-player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#9</div>
              <div class="fw-bold text-primary h4">William David Escala</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="teamItem">
            <div class="teamItem__img">
              <img src="images/content/default-player.png" alt="player" />
            </div>
            <div class="teamItem__content">
              <div class="text-tertiary fw-bold mb-2 h4">#27</div>
              <div class="fw-bold text-primary h4">Lukáš Ercoli</div>
              <div class="text-md">28 let</div>
              <div class="text-tertiary text-md">Draci Brno</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
{% include "@components/partnersSlider/partnersSlider.twig" %} {% endblock %}
