{% extends "@components/base/base.twig" %} {% set title =
"20.0_detail-сompetition-ranking" %} {% block main %}

<div class="headerSection">
  <div class="container">
    <div class="headerSection__inner">
      <div class="d-flex gap-20 align-items-center flex-wrap">
        <h1 class="h1 text-primary">MČR U15</h1>
        <div class="text-lg text-primary">25. 6. – 28. 6. Blansko</div>
      </div>

      <div class="d-flex align-items-center gap-5 flex-wrap">
        <ul class="headerSection__menu">
          <li>
            <a href="" class="headerSection__menu-link"> Přehled </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Rozpis & výsledky </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Tabulky </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Statistiky </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link active"> Pořadí </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="mb-7">
  <div class="container">
    <div class="contentBox">
      <div class="o-content">
        <div class="table-section">
          <table>
            <thead>
              <tr>
                <th class="text-start">Pořadí</th>
                <th class="text-start">Tým</th>
                <th>MVP</th>
                <th>Nejlepší nadhazovač</th>
                <th>Nejlepší pálkař</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    <img
                      src="images/content/club-4.png"
                      width="56"
                      height="56"
                      class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                      alt=""
                    />Eagles Praha
                  </a>
                </td>
                <td>Svatopluk Lichtenberský</td>
                <td>Alois Neumann</td>
                <td>Robbie van Neukkensderf</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    <img
                      src="images/content/club-4.png"
                      width="56"
                      height="56"
                      class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                      alt=""
                    />Eagles Praha
                  </a>
                </td>
                <td>Svatopluk Lichtenberský</td>
                <td>Alois Neumann</td>
                <td>Robbie van Neukkensderf</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    <img
                      src="images/content/club-4.png"
                      width="56"
                      height="56"
                      class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                      alt=""
                    />Eagles Praha
                  </a>
                </td>
                <td>Svatopluk Lichtenberský</td>
                <td>Alois Neumann</td>
                <td>Robbie van Neukkensderf</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    <img
                      src="images/content/club-4.png"
                      width="56"
                      height="56"
                      class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                      alt=""
                    />Eagles Praha
                  </a>
                </td>
                <td>Svatopluk Lichtenberský</td>
                <td>Alois Neumann</td>
                <td>Robbie van Neukkensderf</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    <img
                      src="images/content/club-4.png"
                      width="56"
                      height="56"
                      class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                      alt=""
                    />Eagles Praha
                  </a>
                </td>
                <td>Svatopluk Lichtenberský</td>
                <td>Alois Neumann</td>
                <td>Robbie van Neukkensderf</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    <img
                      src="images/content/club-4.png"
                      width="56"
                      height="56"
                      class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                      alt=""
                    />Eagles Praha
                  </a>
                </td>
                <td>Svatopluk Lichtenberský</td>
                <td>Alois Neumann</td>
                <td>Robbie van Neukkensderf</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    <img
                      src="images/content/club-4.png"
                      width="56"
                      height="56"
                      class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                      alt=""
                    />Eagles Praha
                  </a>
                </td>
                <td>Svatopluk Lichtenberský</td>
                <td>Alois Neumann</td>
                <td>Robbie van Neukkensderf</td>
              </tr>
              <tr>
                <td>1.</td>
                <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    <img
                      src="images/content/club-4.png"
                      width="56"
                      height="56"
                      class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                      alt=""
                    />Eagles Praha
                  </a>
                </td>
                <td>Svatopluk Lichtenberský</td>
                <td>Alois Neumann</td>
                <td>Robbie van Neukkensderf</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
{% include "@components/partnersSlider/partnersSlider.twig" %} {% endblock %}
