{% extends "@components/base/base.twig" %} {% set title =
"25.0_detail-сompetition-regions" %} {% block main %}

<div class="headerSection">
  <div class="container">
    <div class="headerSection__inner">
      <div class="d-flex gap-20 align-items-center flex-wrap">
        <h1 class="h1 text-primary">Turnaje</h1>
        <form>
          <label class="o-select select-sm">
            <select class="js-select">
              <option>2025</option>
              <option>2024</option>
              <option>2023</option>
              <option>2022</option>
            </select>
          </label>
        </form>
      </div>

      <div class="d-flex align-items-center gap-5 flex-wrap">
        <ul class="headerSection__menu">
          <li>
            <a href="" class="headerSection__menu-link"> Přehled </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Reprezentace </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Mládež </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link active"> Regiony </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Oddíly </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="mb-4">
  <div class="container">
    <form class="d-flex align-items-center flex-wrap gap-3">
      <label class="o-select select">
        <select class="js-select">
          <option>Všechny kategorie</option>
          <option>kategorie B</option>
          <option>kategorie C</option>
        </select>
      </label>
    </form>
  </div>
</div>
<div class="mb-7">
  <div class="container">
    <div class="contentBox">
      <div class="o-content">
        <div class="tableHistory">
          <table>
            <thead>
              <tr>
                <th class="text-start">Datum</th>
                <th class="text-start">Název turnaje</th>
                <th class="text-start">Oblast</th>
                <th class="text-start">Kategorie</th>
                <th class="text-start">Místo konání</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>

              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
              <tr>
                <td>26. 10. 2025 – 28. 10. 2025</td>
                <td class="fw-bold text-primary w-xl-100 w-auto">
                  <a href="#" class="linkDecoration d-block">
                    Stříbrný Superpohár
                  </a>
                </td>
                <td>Reprezentace</td>
                <td>U23</td>
                <td>Frýdek-Místek</td>
                <td>
                  <a href="#" class="text-md text-primary linkDetail">
                    <img
                      class="icon-align"
                      src="images/ico/align.svg"
                      width="20"
                      height="20"
                      alt="align"
                    />Detail turnaje</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <nav aria-label="Další stránky">
        <ul
          class="pagination d-flex flex-wrap pagination-flat pagination-success mb-0"
        >
          <li class="page-item active">
            <a class="page-link" href="#" data-abc="true">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">
              {% include "@images/arrow-right-primary.svg" %}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
{% include "@components/partnersSlider/partnersSlider.twig" %} {% endblock %}
