{% extends "@components/base/base.twig" %} {% set title =
"29.0_сompetition-matches" %} {% block main %}

<div class="headerSection">
  <div class="container">
    <div class="headerSection__inner">
      <div class="d-flex gap-20 align-items-center flex-wrap">
        <img
          src="images/content/extraliga.png"
          width="48"
          height="48"
          class="object-fit-contain"
          alt="login"
        />
        <h1 class="h1 text-primary">Extraliga</h1>
        <form>
          <label class="o-select select-sm">
            <select class="js-select">
              <option>2025</option>
              <option>2024</option>
              <option>2023</option>
              <option>2022</option>
            </select>
          </label>
        </form>
      </div>

      <div class="d-flex align-items-center gap-5 flex-wrap">
        <ul class="headerSection__menu">
          <li>
            <a href="" class="headerSection__menu-link"> Přehled </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link active">
              Rozpis & výsledky
            </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Tabulka </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Statistiky </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Týmy </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Soutěž </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="mb-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="mb-4">
  <div class="container">
    {# <form
      method="post"
      action=" "
      class="form d-flex align-items-center flex-wrap gap-4 justify-content-between"
    >
      <div class="d-flex align-items-center flex-wrap gap-3">
        <label class="o-select select">
          <select class="js-select">
            <option>Všechny části</option>
            <option>část 1</option>
            <option>část 2</option>
          </select>
        </label>
        <label class="o-select select">
          <select class="js-select">
            <option>Všechny měsíce</option>
            <option>Leden</option>
            <option>Únor</option>
            <option>Duben</option>
          </select>
        </label>
        <label class="o-select select">
          <select class="js-select">
            <option>Všechny týmy</option>
            <option>tým 1</option>
            <option>tým 2</option>
          </select>
        </label>
      </div>
      <div class="radio-group">
        <label class="radio-label">
          <input type="radio" name="line" value="/vsechny" checked />
          Všechny zápasy
        </label>
        <label class="radio-label">
          <input type="radio" name="line" value="/budouci" />
          Pouze budoucí
        </label>
        <label class="radio-label">
          <input type="radio" name="line" value="/odehrany" />
          Pouze odehrané
        </label>
      </div>
    </form> #}
    <form
  method="get"
  action="/29.0_сompetition-matches.html"         
  class="form d-flex align-items-center flex-wrap gap-4 justify-content-between"
>
  <div class="d-flex align-items-center flex-wrap gap-3">
    <label class="o-select select">
      <select
        name="part"
        class="js-select"
        onchange="this.form.submit()"
      >
        <option value="">Všechny části</option>
        <option value="1"  ${part == '1'  ? 'selected' : ''}>část 1</option>
        <option value="2"  ${part == '2'  ? 'selected' : ''}>část 2</option>
      </select>
    </label>
    <label class="o-select select">
      <select
        name="month"
        class="js-select"
        onchange="this.form.submit()"
      >
        <option value="">Všechny měsíce</option>
        <option value="Leden"   ${month == '1'   ? 'selected' : ''}>Leden</option>
        <option value="Únor"   ${month == '2'   ? 'selected' : ''}>Únor</option>
        <option value="Duben"   ${month == '4'   ? 'selected' : ''}>Duben</option>
      </select>
    </label>
    <label class="o-select select">
      <select
        name="team"
        class="js-select"
        onchange="this.form.submit()"
      >
        <option value="">Všechny týmy</option>
        <option value="tym-1"  ${team == '1'  ? 'selected' : ''}>tým 1</option>
        <option value="tym-2"  ${team == '2'  ? 'selected' : ''}>tým 2</option>
      </select>
    </label>
  </div>

  <div class="radio-group">
    <label class="radio-label">
      <input
      
        type="radio"
        name="line"
        value="vsechny"
        checked
        ${line == 'vsechny' ? 'checked' : ''}
        onchange="this.form.submit()"
      />
      Všechny zápasy
    </label>
    <label class="radio-label">
      <input
        type="radio"
        name="line"
        value="budouci"
        ${line == 'budouci' ? 'checked' : ''}
        onchange="this.form.submit()"
      />
      Pouze budoucí
    </label>
    <label class="radio-label">
      <input
        type="radio"
        name="line"
        value="odehrany"
        ${line == 'odehrany' ? 'checked' : ''}
        onchange="this.form.submit()"
      />
      Pouze odehrané
    </label>
  </div>
</form>

  </div>
</div>
<div class="mb-5">
  <div class="container">
    {% include "@components/matches-section/matches-section.twig" %}
  </div>
</div>

<div class="mb-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
{% include "@components/partnersSlider/partnersSlider.twig" %} {% endblock %}
