{% extends "@components/base/base.twig" %} {% set title =
"32.0_detail-сompetition-overview" %} {% block main %}

<div class="headerSection">
  <div class="container">
    <div class="headerSection__inner">
      <div class="d-flex gap-20 align-items-center flex-wrap">
        <h1 class="h1 text-primary">MČR U15</h1>
        <div class="text-lg text-primary">25. 6. – 28. 6. Blansko</div>
      </div>

      <div class="d-flex align-items-center gap-5 flex-wrap">
        <ul class="headerSection__menu">
          <li>
            <a href="" class="headerSection__menu-link active"> Přehled </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Rozpis & výsledky </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Tabulky </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Statistiky </a>
          </li>
          <li>
            <a href="" class="headerSection__menu-link"> Pořadí </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
<section class="subPage">
  <div class="container">
    <div class="contentBox">
      <h2 class="h1 text-primary mb-5">Informace o turnaji</h2>
      <div class="o-content">
        <p>
          <strong>
            Baseball se nečekaně vrátil mezi třicítku prioritních sportů Národní
            sportovní agentury pro roky 2025 a 2026. Vrcholný sportovní orgán v
            České republice přehodnotil dřívější rozhodnutí, v němž došlo k
            administrativní chybě.
          </strong>
        </p>
        <p>
          Pro český baseball to je podle předsedy České baseballové asociace
          Petra Ditricha naprosto zásadní zpráva, která pozitivně ovlivní
          přípravu na vrcholné sportovní akce. Z prioritní skupiny nakonec
          vypadlo taekwondo.
        </p>
        <p>
          „Velmi si vážíme nového rozhodnutí Národní sportovní agentury, která
          nás nakonec přeci jen zařadila mezi třicet prioritizovaných
          sportovních svazů. Je to pro nás klíčová zpráva, za kterou jsme
          nesmírně vděční. Tento krok nám umožní stabilní financování baseballu
          v České republice na následující dva roky a zajistí potřebné
          prostředky pro přípravu na významné mezinárodní akce,“ nechal se
          slyšet Ditrich.
        </p>
        <p>
          V roce 2026 se český tým zúčastní světového turnaje World Baseball
          Classic, po kterém by měla následovat kvalifikace na turnaj Premier 12
          pro nejlepších dvanáct týmů světa. „Oba tyto turnaje jsou nesmírně
          důležité pro rozvoj našeho sportu na nejvyšší mezinárodní úrovni.
          Zároveň se připravujeme i na kvalifikaci na olympijské hry v Los
          Angeles 2028, které jsou naším dlouhodobým cílem. Díky vylepšenému
          financování budeme moci pokračovat v propagaci dobrého jména České
          republiky ve světě, stejně jako se nám to dařilo v minulých letech,“
          uvedl Ditrich.
        </p>
      </div>
      <div class="px-6 py-5 border-1 mt-4">
        <div class="row g-3">
          <div class="col-xl-4 col-md-6">
            <div class="d-flex gap-4 align-items-center">
              <a href="documents/download.pdf" download>
                <img
                  class="object-fit-contain"
                  src="images/ico/pdf.svg"
                  width="40"
                  height="40"
                  alt="file"
                />
              </a>

              <div class="">
                <a
                  href="documents/download.pdf"
                  download
                  class="text-lg text-primary fw-bold linkDecoration"
                >
                  Pravidla baseballu k 1. 1. 2025
                </a>
                <div class="text-sm text-tertiary">18. 2. 2025 | 263 kB</div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="d-flex gap-4 align-items-center">
              <a href="documents/download.pdf" download>
                <img
                  class="object-fit-contain"
                  src="images/ico/xls.svg"
                  width="40"
                  height="40"
                  alt="file"
                />
              </a>
              <div class="">
                <a
                  href="documents/download.pdf"
                  download
                  class="text-lg text-primary fw-bold linkDecoration"
                >
                  Pravidla baseballu k 1. 1. 2025
                </a>
                <div class="text-sm text-tertiary">18. 2. 2025 | 263 kB</div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="d-flex gap-4 align-items-center">
              <a href="documents/download.pdf" download>
                <img
                  class="object-fit-contain"
                  src="images/ico/xlsx.svg"
                  width="40"
                  height="40"
                  alt="file"
                />
              </a>
              <div class="">
                <a
                  href="documents/download.pdf"
                  download
                  class="text-lg text-primary fw-bold linkDecoration"
                >
                  Pravidla baseballu k 1. 1. 2025
                </a>
                <div class="text-sm text-tertiary">18. 2. 2025 | 263 kB</div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="d-flex gap-4 align-items-center">
              <a href="documents/download.pdf" download>
                <img
                  class="object-fit-contain"
                  src="images/ico/doc.svg"
                  width="40"
                  height="40"
                  alt="file"
              /></a>
              <div class="">
                <a
                  href="documents/download.pdf"
                  download
                  class="text-lg text-primary fw-bold linkDecoration"
                >
                  Pravidla baseballu k 1. 1. 2025
                </a>
                <div class="text-sm text-tertiary">18. 2. 2025 | 263 kB</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="teamCard d-flex flex-column justify-content-between">
          <div class="teamCard__head">
            <img
              src="images/content/club-4.png"
              class="mb-3 object-fit-contain mx-auto"
              width="104"
              height="104"
              alt="club"
            />
            <h3 class="h3 text-primary mb-3 text-center">Eagles Praha</h3>
          </div>
          <div class="teamCard__content">
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img src="images/ico/users.svg" width="20" height="20" alt="" />
              Soupiska
            </a>
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img
                src="images/ico/calendar-black.svg"
                width="20"
                height="20"
                alt=""
              />
              Zápasy
            </a>
          </div>
          <div
            class="d-flex flex-wrap align-items-center gap-3 justify-content-center mt-3"
          >
            <a class="text-tertiary text-sm" href="#">www.eagles.cz</a>
            <div class="d-flex gap-2 align-items-center">
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/fb-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/insta-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/youtube-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="teamCard d-flex flex-column justify-content-between">
          <div class="teamCard__head">
            <img
              src="images/content/club-4.png"
              class="mb-3 object-fit-contain mx-auto"
              width="104"
              height="104"
              alt="club"
            />
            <h3 class="h3 text-primary mb-3 text-center">Eagles Praha</h3>
          </div>
          <div class="teamCard__content">
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img src="images/ico/users.svg" width="20" height="20" alt="" />
              Soupiska
            </a>
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img
                src="images/ico/calendar-black.svg"
                width="20"
                height="20"
                alt=""
              />
              Zápasy
            </a>
          </div>
          <div
            class="d-flex flex-wrap align-items-center gap-3 justify-content-center mt-3"
          >
            <a class="text-tertiary text-sm" href="#">www.eagles.cz</a>
            <div class="d-flex gap-2 align-items-center">
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/fb-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/insta-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/youtube-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="teamCard d-flex flex-column justify-content-between">
          <div class="teamCard__head">
            <img
              src="images/content/club-4.png"
              class="mb-3 object-fit-contain mx-auto"
              width="104"
              height="104"
              alt="club"
            />
            <h3 class="h3 text-primary mb-3 text-center">Eagles Praha</h3>
          </div>
          <div class="teamCard__content">
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img src="images/ico/users.svg" width="20" height="20" alt="" />
              Soupiska
            </a>
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img
                src="images/ico/calendar-black.svg"
                width="20"
                height="20"
                alt=""
              />
              Zápasy
            </a>
          </div>
          <div
            class="d-flex flex-wrap align-items-center gap-3 justify-content-center mt-3"
          >
            <a class="text-tertiary text-sm" href="#">www.eagles.cz</a>
            <div class="d-flex gap-2 align-items-center">
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/fb-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/insta-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/youtube-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="teamCard d-flex flex-column justify-content-between">
          <div class="teamCard__head">
            <img
              src="images/content/club-4.png"
              class="mb-3 object-fit-contain mx-auto"
              width="104"
              height="104"
              alt="club"
            />
            <h3 class="h3 text-primary mb-3 text-center">Eagles Praha</h3>
          </div>
          <div class="teamCard__content">
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img src="images/ico/users.svg" width="20" height="20" alt="" />
              Soupiska
            </a>
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img
                src="images/ico/calendar-black.svg"
                width="20"
                height="20"
                alt=""
              />
              Zápasy
            </a>
          </div>
          <div
            class="d-flex flex-wrap align-items-center gap-3 justify-content-center mt-3"
          >
            <a class="text-tertiary text-sm" href="#">www.eagles.cz</a>
            <div class="d-flex gap-2 align-items-center">
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/fb-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/insta-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/youtube-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="teamCard d-flex flex-column justify-content-between">
          <div class="teamCard__head">
            <img
              src="images/content/club-4.png"
              class="mb-3 object-fit-contain mx-auto"
              width="104"
              height="104"
              alt="club"
            />
            <h3 class="h3 text-primary mb-3 text-center">Eagles Praha</h3>
          </div>
          <div class="teamCard__content">
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img src="images/ico/users.svg" width="20" height="20" alt="" />
              Soupiska
            </a>
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img
                src="images/ico/calendar-black.svg"
                width="20"
                height="20"
                alt=""
              />
              Zápasy
            </a>
          </div>
          <div
            class="d-flex flex-wrap align-items-center gap-3 justify-content-center mt-3"
          >
            <a class="text-tertiary text-sm" href="#">www.eagles.cz</a>
            <div class="d-flex gap-2 align-items-center">
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/fb-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/insta-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/youtube-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="teamCard d-flex flex-column justify-content-between">
          <div class="teamCard__head">
            <img
              src="images/content/club-4.png"
              class="mb-3 object-fit-contain mx-auto"
              width="104"
              height="104"
              alt="club"
            />
            <h3 class="h3 text-primary mb-3 text-center">Eagles Praha</h3>
          </div>
          <div class="teamCard__content">
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img src="images/ico/users.svg" width="20" height="20" alt="" />
              Soupiska
            </a>
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img
                src="images/ico/calendar-black.svg"
                width="20"
                height="20"
                alt=""
              />
              Zápasy
            </a>
          </div>
          <div
            class="d-flex flex-wrap align-items-center gap-3 justify-content-center mt-3"
          >
            <a class="text-tertiary text-sm" href="#">www.eagles.cz</a>
            <div class="d-flex gap-2 align-items-center">
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/fb-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/insta-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/youtube-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="teamCard d-flex flex-column justify-content-between">
          <div class="teamCard__head">
            <img
              src="images/content/club-4.png"
              class="mb-3 object-fit-contain mx-auto"
              width="104"
              height="104"
              alt="club"
            />
            <h3 class="h3 text-primary mb-3 text-center">
              EaglesEagles EaglesEagles Praha
            </h3>
          </div>
          <div class="teamCard__content">
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img src="images/ico/users.svg" width="20" height="20" alt="" />
              Soupiska
            </a>
            <a
              href="#"
              class="d-flex gap-12 align-items-center mb-12 fw-bold text-lg linkDecoration"
            >
              <img
                src="images/ico/calendar-black.svg"
                width="20"
                height="20"
                alt=""
              />
              Zápasy
            </a>
          </div>
          <div
            class="d-flex flex-wrap align-items-center gap-3 justify-content-center mt-3"
          >
            <a class="text-tertiary text-sm" href="#">www.eagles.cz</a>
            <div class="d-flex gap-2 align-items-center">
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/fb-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/insta-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
              <a href="#" target="_blank" class="d-block">
                <img
                  src="images/ico/youtube-primary.svg"
                  alt=""
                  width="20"
                  height="20"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- matches / table board  -->

<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <div class="teamCard">
          <h2 class="h3 mb-3 text-primary">Aktuální zápasy</h2>
          <section class="matches-section matches-section-sm">
            <div class="matchItem-sm flex-wrap">
              <div
                class="d-flex align-items-center gap-20 w-100 mb-sm-1 mb-3 justify-content-sm-start justify-content-center justify-content-sm-start justify-content-center"
              >
                <div class="text-xs text-tertiary">pá 12. 4. 2025, 19:00</div>
                <a href="#" target="_blank" class="d-block">
                  <img
                    src="images/content/ct.png"
                    width="54"
                    height="12"
                    class="object-fit-contain"
                    alt="ct-sport"
                  />
                </a>
              </div>
              <div
                class="d-flex justify-content-between align-items-center w-100 flex-wrap gap-3 flex-sm-row flex-column"
              >
                <div
                  class="d-flex gap-20 align-items-center flex-sm-row flex-column"
                >
                  <div class="d-flex gap-1 align-items-center">
                    <img
                      src="images/content/club-1.png"
                      width="24"
                      height="24"
                      class="object-fit-contain"
                      alt="club"
                    />
                    <img
                      src="images/content/club-2.png"
                      width="24"
                      height="24"
                      class="object-fit-contain"
                      alt="club"
                    />
                  </div>
                  <div
                    class="text-md fw-bold text-primary d-flex align-items-center gap-2"
                  >
                    Eagles Praha
                    <span class="text-tertiary h4">×</span>
                    Kotlářka Praha
                  </div>
                </div>
                <div class="matchItem__content">
                  <a href="#" class="text-primary fw-bold linkDecoration h4">
                    11:13
                  </a>
                  <a href="#" class="matchItem__link text-primary">
                    {% include "@images/line.svg" %} PBP
                  </a>
                </div>
              </div>
            </div>
            <div class="matchItem-sm flex-wrap">
              <div
                class="d-flex align-items-center gap-20 w-100 mb-sm-1 mb-3 justify-content-sm-start justify-content-center justify-content-sm-start justify-content-center"
              >
                <div class="text-xs text-tertiary">pá 12. 4. 2025, 19:00</div>
                <a href="#" target="_blank" class="d-block">
                  <img
                    src="images/content/ct.png"
                    width="54"
                    height="12"
                    class="object-fit-contain"
                    alt="ct-sport"
                  />
                </a>
              </div>
              <div
                class="d-flex justify-content-between align-items-center w-100 flex-wrap gap-3 flex-sm-row flex-column"
              >
                <div
                  class="d-flex gap-20 align-items-center flex-sm-row flex-column"
                >
                  <div class="d-flex gap-1 align-items-center">
                    <img
                      src="images/content/club-1.png"
                      width="24"
                      height="24"
                      class="object-fit-contain"
                      alt="club"
                    />
                    <img
                      src="images/content/club-2.png"
                      width="24"
                      height="24"
                      class="object-fit-contain"
                      alt="club"
                    />
                  </div>
                  <div
                    class="text-md fw-bold text-primary d-flex align-items-center gap-2"
                  >
                    Eagles Praha
                    <span class="text-tertiary h4">×</span>
                    Kotlářka Praha
                  </div>
                </div>
                <div class="matchItem__content">
                  <a href="#" class="text-primary fw-bold linkDecoration h4">
                    11:13
                  </a>
                  <a href="#" class="matchItem__link text-primary">
                    {% include "@images/line.svg" %} PBP
                  </a>
                </div>
              </div>
            </div>
            <div class="matchItem-sm flex-wrap">
              <div
                class="d-flex align-items-center gap-20 w-100 mb-sm-1 mb-3 justify-content-sm-start justify-content-center justify-content-sm-start justify-content-center"
              >
                <div class="text-xs text-tertiary">pá 12. 4. 2025, 19:00</div>
                <a href="#" target="_blank" class="d-block">
                  <img
                    src="images/content/ct.png"
                    width="54"
                    height="12"
                    class="object-fit-contain"
                    alt="ct-sport"
                  />
                </a>
              </div>
              <div
                class="d-flex justify-content-between align-items-center w-100 flex-wrap gap-3 flex-sm-row flex-column"
              >
                <div
                  class="d-flex gap-20 align-items-center flex-sm-row flex-column"
                >
                  <div class="d-flex gap-1 align-items-center">
                    <img
                      src="images/content/club-1.png"
                      width="24"
                      height="24"
                      class="object-fit-contain"
                      alt="club"
                    />
                    <img
                      src="images/content/club-2.png"
                      width="24"
                      height="24"
                      class="object-fit-contain"
                      alt="club"
                    />
                  </div>
                  <div
                    class="text-md fw-bold text-primary d-flex align-items-center gap-2"
                  >
                    Eagles Praha
                    <span class="text-tertiary h4">×</span>
                    Kotlářka Praha
                  </div>
                </div>
                <div class="matchItem__content">
                  <a href="#" class="text-primary fw-bold linkDecoration h4">
                    11:13
                  </a>
                  <a href="#" class="matchItem__link text-primary">
                    {% include "@images/line.svg" %} PBP
                  </a>
                </div>
              </div>
            </div>
            <div class="matchItem-sm flex-wrap">
              <div
                class="d-flex align-items-center gap-20 w-100 mb-sm-1 mb-3 justify-content-sm-start justify-content-center justify-content-sm-start justify-content-center"
              >
                <div class="text-xs text-tertiary">pá 12. 4. 2025, 19:00</div>
                <a href="#" target="_blank" class="d-block">
                  <img
                    src="images/content/ct.png"
                    width="54"
                    height="12"
                    class="object-fit-contain"
                    alt="ct-sport"
                  />
                </a>
              </div>
              <div
                class="d-flex justify-content-between align-items-center w-100 flex-wrap gap-3 flex-sm-row flex-column"
              >
                <div
                  class="d-flex gap-20 align-items-center flex-sm-row flex-column"
                >
                  <div class="d-flex gap-1 align-items-center">
                    <img
                      src="images/content/club-1.png"
                      width="24"
                      height="24"
                      class="object-fit-contain"
                      alt="club"
                    />
                    <img
                      src="images/content/club-2.png"
                      width="24"
                      height="24"
                      class="object-fit-contain"
                      alt="club"
                    />
                  </div>
                  <div
                    class="text-md fw-bold text-primary d-flex align-items-center gap-2"
                  >
                    Eagles Praha
                    <span class="text-tertiary h4">×</span>
                    Kotlářka Praha
                  </div>
                </div>
                <div class="matchItem__content">
                  <a href="#" class="text-primary fw-bold linkDecoration h4">
                    11:13
                  </a>
                  <a href="#" class="matchItem__link text-primary">
                    {% include "@images/line.svg" %} PBP
                  </a>
                </div>
              </div>
            </div>
            <div class="matchItem-sm flex-wrap">
              <div
                class="d-flex align-items-center gap-20 w-100 mb-sm-1 mb-3 justify-content-sm-start justify-content-center justify-content-sm-start justify-content-center"
              >
                <div class="text-xs text-tertiary">pá 12. 4. 2025, 19:00</div>
                <a href="#" target="_blank" class="d-block">
                  <img
                    src="images/content/ct.png"
                    width="54"
                    height="12"
                    class="object-fit-contain"
                    alt="ct-sport"
                  />
                </a>
              </div>
              <div
                class="d-flex justify-content-between align-items-center w-100 flex-wrap gap-3 flex-sm-row flex-column"
              >
                <div
                  class="d-flex gap-20 align-items-center flex-sm-row flex-column"
                >
                  <div class="d-flex gap-1 align-items-center">
                    <img
                      src="images/content/club-1.png"
                      width="24"
                      height="24"
                      class="object-fit-contain"
                      alt="club"
                    />
                    <img
                      src="images/content/club-2.png"
                      width="24"
                      height="24"
                      class="object-fit-contain"
                      alt="club"
                    />
                  </div>
                  <div
                    class="text-md fw-bold text-primary d-flex align-items-center gap-2"
                  >
                    Eagles Praha
                    <span class="text-tertiary h4">×</span>
                    Kotlářka Praha
                  </div>
                </div>
                <div class="matchItem__content">
                  <a href="#" class="text-primary fw-bold linkDecoration h4">
                    11:13
                  </a>
                  <a href="#" class="matchItem__link text-primary">
                    {% include "@images/line.svg" %} PBP
                  </a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-lg-6 order-lg-0 order-2">
        <div class="teamCard">
          <div
            class="mb-3 d-flex align-items-center flex-wrap gap-3 justify-content-between"
          >
            <h2 class="h3 text-primary">Tabulka</h2>
            <nav>
              <div
                class="nav nav-tabs text-md text-tertiary table-tab"
                id="nav-tab"
                role="tablist"
              >
                <button
                  class="nav-link active"
                  id="nav-a-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-a"
                  type="button"
                  role="tab"
                  aria-controls="nav-a"
                  aria-selected="true"
                >
                  Skupina A
                </button>
                <button
                  class="nav-link"
                  id="nav-b-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-b"
                  type="button"
                  role="tab"
                  aria-controls="nav-b"
                  aria-selected="false"
                >
                  Skupina B
                </button>
                <button
                  class="nav-link"
                  id="nav-c-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-c"
                  type="button"
                  role="tab"
                  aria-controls="nav-c"
                  aria-selected="false"
                >
                  Skupina C
                </button>
                <button
                  class="nav-link"
                  id="nav-d-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-d"
                  type="button"
                  role="tab"
                  aria-controls="nav-d"
                  aria-selected="false"
                >
                  Skupina D
                </button>
              </div>
            </nav>
          </div>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-a"
              role="tabpanel"
              aria-labelledby="nav-a-tab"
            >
              <div class="table-section table-section-sm">
                <div class="o-content">
                  <table>
                    <thead>
                      <tr>
                        <th class="text-start">#</th>
                        <th class="text-start">Tým</th>
                        <th class="text-center">Z</th>
                        <th class="text-center">W</th>
                        <th class="text-center">L</th>
                        <th class="text-center">Skóre</th>
                        <th class="text-center">%</th>
                        <th class="text-center">-</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr class="active">
                        <td>6.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>7.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>8.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-b"
              role="tabpanel"
              aria-labelledby="nav-b-tab"
            >
              <div class="table-section table-section-sm">
                <div class="o-content">
                  <table>
                    <thead>
                      <tr>
                        <th class="text-start">#</th>
                        <th class="text-start">Tým</th>
                        <th class="text-center">Z</th>
                        <th class="text-center">W</th>
                        <th class="text-center">L</th>
                        <th class="text-center">Skóre</th>
                        <th class="text-center">%</th>
                        <th class="text-center">-</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">11</td>
                        <td class="text-center">2</td>
                        <td class="text-center">555:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">3</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">4</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">5</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr class="active">
                        <td>6.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>7.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>8.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-c"
              role="tabpanel"
              aria-labelledby="nav-c-tab"
            >
              <div class="table-section table-section-sm">
                <div class="o-content">
                  <table>
                    <thead>
                      <tr>
                        <th class="text-start">#</th>
                        <th class="text-start">Tým</th>
                        <th class="text-center">Z</th>
                        <th class="text-center">W</th>
                        <th class="text-center">L</th>
                        <th class="text-center">Skóre</th>
                        <th class="text-center">%</th>
                        <th class="text-center">-</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">11</td>
                        <td class="text-center">22</td>
                        <td class="text-center">33</td>
                        <td class="text-center">555:333</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">4</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">53</td>
                        <td class="text-center">32</td>
                        <td class="text-center">18</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr class="active">
                        <td>6.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>7.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>8.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-d"
              role="tabpanel"
              aria-labelledby="nav-d-tab"
            >
              <div class="table-section table-section-sm">
                <div class="o-content">
                  <table>
                    <thead>
                      <tr>
                        <th class="text-start">#</th>
                        <th class="text-start">Tým</th>
                        <th class="text-center">Z</th>
                        <th class="text-center">W</th>
                        <th class="text-center">L</th>
                        <th class="text-center">Skóre</th>
                        <th class="text-center">%</th>
                        <th class="text-center">-</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">11</td>
                        <td class="text-center">22</td>
                        <td class="text-center">33</td>
                        <td class="text-center">555:333</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">4</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">53</td>
                        <td class="text-center">32</td>
                        <td class="text-center">18</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr class="active">
                        <td>6.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>7.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr>
                        <td>8.</td>
                        <td class="h4 fw-bold text-primary w-xl-100 w-auto">
                          <a href="#" class="linkDecoration d-block">
                            <img
                              src="images/content/club-4.png"
                              width="20"
                              height="20"
                              class="object-fit-contain d-inline vertical-middle me-md-4 mr-12"
                              alt=""
                            />Eagles Praha
                          </a>
                        </td>
                        <td class="text-center">35</td>
                        <td class="text-center">25</td>
                        <td class="text-center">10</td>
                        <td class="text-center">222:102</td>
                        <td class="text-center">0.714</td>
                        <td class="text-center">-</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <a href="#" class="btn btn-stroke d-flex ms-auto">
          Kompletní rozpis a výsledky {% include "@images/arrow-right.svg" %}
        </a>
      </div>
      <div class="col-lg-6 order-lg-0 order-3">
        <a href="#" class="btn btn-stroke d-flex ms-auto">
          Kompletní tabulka {% include "@images/arrow-right.svg" %}
        </a>
      </div>
    </div>
  </div>
</div>
<!-- matches / table board  end  -->

<div class="mb-7">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                     (min-width: 704w) 704w
                     
                   "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="d-block w-100 h-100" href="#">
          <img
            loading="lazy"
            srcset="
              https://placehold.co/704x120?text=704x120 1408w,
              https://placehold.co/704x120?text=704x120  704w
            "
            sizes="
                  (min-width: 704w) 704w
                  
                "
            width="704"
            height="120"
            class="object-fit-cover w-100 h-100"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
{% include "@components/partnersSlider/partnersSlider.twig" %} {% endblock %}
