.calendarItem {
  padding: 32px 40px;
  height: 100%;
  @include media-breakpoint-down(lg) {
    padding: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
    line-height: 27px;
    li {
      display: flex;
      gap: 12px;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        gap: 4px;
      }
    }
    span {
      font-weight: 700;
      min-width: 130px;
    }
  }
}

.section-representation {
  .calendarItem__list {
    span {
      min-width: 100px;
    }
    li {
      @include media-breakpoint-down(sm) {
        flex-direction: row;
      }
    }
  }
}
