<div class="calendarItem boxShadow">
  <div class="d-flex gap-5 align-items-center mb-5">
    <img
      loading="lazy"
      srcset="images/content/logo-calendar.png 92w"
      sizes="
    (min-width: 92px) 92px
    
  "
      width="92"
      height="56"
      alt="logo"
    />
    <h3 class="text-primary h3">Czech Talent</h3>
  </div>
  <p class="text-md mb-12">
    Víkendový kemp je určen pro talentovanou mládež. Program má rozvíjet u hráčů
    baseballové, atletické a posilovací aktivity. Camp je určen pro hráče od
    13let do 16let. Hráči jsou vybíráni na základě nominací od hlavních trenérů
    národních reprezentací, hlavního trenéra ČBA a TMK.
  </p>
  <ul class="calendarItem__list">
    <li>
      <span>Termín výběrů:</span> 30.9.2024 - Morava - Hroši, 2.10.2024 Čechy -
      Tempo
    </li>
    <li><span>Termín akce:</span> 6. - 8.12.2024</li>
    <li><span>Místo:</span> Nymburk</li>
    <li><span>Zodpovědné osoby:</span> Tomáš Dufek, Petr Baroch</li>
    <li><span>Trenéři:</span> 10</li>
    <li><span>Hráči:</span> Nominace bude nejpozději v polovině listopadu</li>
    <li><span>Kapacita hráčů:</span> 50</li>
  </ul>
</div>
